<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通用工具</title>
    <script src="./static/unpkg/vue.min.js"></script>
    <script src="./static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="./static/unpkg/elemeIndex.css">
</head>
<body>

<div id="divApp">
    <el-tabs v-model="activeName" type="card" @tab-click="handleTabClick">
        <el-tab-pane v-for="item in arr" :label="item.title" :name="item.title">
            <iframe :src="item.url" scrolling="auto" style="width:100%; height: 500px;"
                    frameborder="0"></iframe>
        </el-tab-pane>
    </el-tabs>
</div>
<script>
    const VERSION = '2';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            activeName: '',
            arr: [],

            pages: [
                {
                    useUrl: './sqlTool/mysql.html',
                    title: 'mysql查询',
                },
                {
                    useUrl: './redisTool/redis.html',
                    title: 'redis键查询',
                },
                {
                    useUrl: './diff/mysql.html',
                    title: 'mysql字段对比',
                },
                {
                    useUrl: './diff/mysqlIndex.html',
                    title: 'mysql索引对比',
                },
                {
                    useUrl: './diff/nacos.html',
                    title: 'nacos配置对比',
                },
                {
                    useUrl: './otpcode/otpcode.html',
                    title: 'OTP-Code生成',
                },
                {
                    useUrl: './codes/code.html',
                    title: '代码生成',
                },
                {
                    useUrl: './logs/log.html',
                    title: '操作日志',
                },
            ],
        },
        created: function () {
            let showedTab = getQueryString('type');
            if (showedTab.length <= 0) {
                showedTab = 'pages';
            }
            this.arr = this[showedTab];
            if (this.arr && this.arr.length) {
                let showedSubTab = getQueryString('sub');
                if (showedSubTab.length <= 0) {
                    showedSubTab = 0;
                } else {
                    showedSubTab = parseInt(showedSubTab, 10);
                }
                this.activeName = this.arr[showedSubTab].title;
                this.arr[showedSubTab].url = addParaToUrl(this.arr[showedSubTab].useUrl, 'ver=' + VERSION);
            }

            this.adjustAllIframe();
        },
        methods: {
            handleTabClick: function (tab, event) {
                // 避免无效的iframe加载
                this.arr[tab.index].url = addParaToUrl(this.arr[tab.index].useUrl, 'ver=' + VERSION);
            },
            adjustAllIframe: function () {
                let iframes = document.getElementsByTagName('IFRAME');
                for (let i = 0, j = iframes.length; i < j; i++) {
                    let item = iframes[i];
                    this.adjustIframe(item);
                }
            },
            adjustIframe: function (ifrm) {
                //const deviceWidth = document.documentElement.clientWidth;
                const deviceHeight = document.documentElement.clientHeight;
                //ifrm.style.width = (Number(deviceWidth) - 220) + 'px'; //数字是页面布局宽度差值
                ifrm.style.height = (Number(deviceHeight) - 120) + 'px'; //数字是页面布局高度差
            },
        },
    });

    function addParaToUrl(url, para) {
        if (url.indexOf('?') >= 0)
            return url + '&' + para;
        return url + '?' + para;
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string} 变量值
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>