<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL执行工具</title>
    <script src="/static/unpkg/vue.min.js"></script>
    <script src="/static/unpkg/axios.min.js"></script>
    <script src="/static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="/static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-form-item label="数据库连接信息" style="font-weight: bold;">
            <el-select v-model="selectDbName" filterable placeholder="请选择环境" @change="dbSelected">
                <el-option
                        v-for="item in sqlConns"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbTestIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbTestUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbTestPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadDbs"></el-button>
            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbTestName" filterable placeholder="请选择数据库" @change="dbChange">
                    <el-option
                            v-for="item in dbsTest"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <div>
            当前数据库的表：<br>
            <a v-for="item in tableList" style="display: inline-block; width:300px;"
               href="javascript:void(0)" @click="getSqlByTable(item)">
                {{item}}
            </a>
        </div>
        <table>
            <tr>
                <td style="width: 1010px;">
                    <el-form-item label="SQL,只能查询" prop="sql" style="font-weight: bold;">
                        <el-input type="textarea" :rows="20" v-model="searchCond.sql" placeholder="请输入SQL"
                                  style="width:1000px"/>
                    </el-form-item>
                </td>
                <td>
                    <div style="font-weight: bold;">历史SQL列表</div>
                    <div v-for="(item, idx) in usingSqls" style="font-size: 12px;">
                        {{idx+1}}: <a href="javascript:void(0)" @click="setSql(item)">{{item}}</a>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <el-form-item>
            <el-checkbox v-model="showAsTextBox">结果用textbox展示</el-checkbox>
            <el-button type="primary" icon="el-icon-search" @click="executeSql">执 行</el-button>
            <el-button :disabled="!resultData.length" icon="el-icon-download" @click="exportResult">导出结果为CSV</el-button>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">耗时: {{costTime}}ms, 行数: {{resultData.length}}</span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="resultData"
              :header-row-class-name="'tableHeader'">
        <el-table-column :label="key"
                         sortable
                         :sort-by="key"
                         v-for="(value, key, index) in resultData[0]">
            <template slot-scope="scope">
                <input v-show="showAsTextBox" type="text" :value="scope.row[key]" style="width:100%"
                       @click="showFieldValue(scope.row, key)">
                <span v-show="!showAsTextBox">{{scope.row[key]}}</span>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog :title="'表定义:' + selectedTable" :visible.sync="generateSqlShow">
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="generateSql">
            </el-input>
        </div>
        <br>
        <template>
            <el-button type="primary" @click="generateSelectSql">生成 SELECT 语句并查询</el-button>
            <el-button type="primary" @click="generateUpdateSql">生成 UPDATE 语句</el-button>
            <el-button type="primary" @click="generateInsertSql">生成 INSERT 语句</el-button>
        </template>
    </el-dialog>

    <el-dialog :title="'字段值详情:' + selectedTable + '.' + selectedField" :visible.sync="fieldValueShow">
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="selectedFieldValue">
            </el-input>
        </div>
        <br>
        <template>
            <el-button type="primary" @click="formatJson">JSON格式化</el-button>
        </template>
    </el-dialog>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loading: false,

            selectDbName: '生产-1',
            sqlConns: [
                {
                    name: '生产-1',
                    dbTestIp: '10.0.0.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '123456',
                    dbTestName: '',
                    sql: 'SELECT 1 FROM DUAL',
                },
                {
                    name: '生产-2',
                    dbTestIp: '10.0.0.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '123456',
                    dbTestName: '',
                    sql: 'SELECT 1 FROM DUAL',
                },
                {
                    name: '生产-3',
                    dbTestIp: '10.0.0.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '123456',
                    dbTestName: '',
                    sql: 'SELECT 1 FROM DUAL',
                },
                {
                    name: '测试环境',
                    dbTestIp: '10.0.0.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '123456',
                    dbTestName: '',
                    sql: 'SELECT 1 FROM DUAL',
                },
            ],
            searchCond: {
                dbTestIp: '',
                dbTestUser: '',
                dbTestPwd: '',
                dbTestName: '',
                sql: '',
            },

            dbsTest: {},
            defaultName: '',
            tableList: [],

            costTime: 0,
            resultData: [],

            usingSqls: [],
            usingKey: 'usingSqls',

            generateSqlShow: false,
            selectedTable: '',
            generateSql: '',

            showAsTextBox: true,
            fieldValueShow: false,
            selectedField: '',
            selectedFieldValue: '',
        },
        created: function () {
            this.usingSqls = this.loadUsingSqls();
            this.dbSelected();
            // this.searchCond = this.sqlConns[0];

            this.defaultName = getQueryString('name');
            if (this.searchCond.dbTestIp)
                this.loadDbs();
        },
        computed: {},
        methods: {
            dbSelected: function () {
                for (let i = 0, j = this.sqlConns.length; i < j; i++) {
                    if (this.sqlConns[i].name === this.selectDbName) {
                        this.searchCond = this.sqlConns[i];
                        this.loadDbs();
                        break;
                    }
                }
            },
            dbChange: function () {
                this.loadTables();
            },
            setSql: function (sql) {
                this.searchCond.sql = sql;
            },
            loadUsingSqls: function () {
                let obj = localStorage.getItem(this.usingKey);
                if (obj == null)
                    return [];
                return JSON.parse(obj);
            },
            saveUsingSqls: function (sql) {
                this.searchCond.sql = sql;
                this.addAndDistinct(sql, this.usingSqls);
                if (this.usingSqls.length > 20) {
                    this.usingSqls.length = 20;
                }
                localStorage.setItem(this.usingKey, JSON.stringify(this.usingSqls));
            },
            addAndDistinct: function (item, arr) {
                for (let i = 0, j = arr.length; i < j; i++) {
                    if (arr[i] == item)
                        return;
                }
                arr.splice(0, 0, item);// 插入第1位
            },
            combineDbPara: function () {
                if (!this.searchCond.dbTestIp || !this.searchCond.dbTestUser || !this.searchCond.dbTestPwd) {
                    alert('请输入数据库IP/用户/密码');
                    return;
                }
                return 'ip=' + this.searchCond.dbTestIp +
                    '&user=' + encodeURIComponent(this.searchCond.dbTestUser) +
                    '&pwd=' + encodeURIComponent(this.searchCond.dbTestPwd);
            },
            loadDbs: function () {
                let currentIp = this.searchCond.dbTestIp;
                let url = '/mysql/databases?' + this.combineDbPara();
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert(currentIp + '出错:\n' + response.data.errMsg);
                    }
                    this.dbsTest = response.data;
                    this.setByDefault('dbTestName', this.dbsTest);

                    this.loadTables();
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            loadTables: function () {
                if (!this.searchCond.dbTestName)
                    return;
                let url = '/mysql/tableNames?' + this.combineDbPara() + '&db=' + this.searchCond.dbTestName;
                return axios.get(url).then(response => {
                    this.tableList = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getSqlByTable: function (tbName) {
                if (!this.searchCond.dbTestName || !tbName)
                    return;
                this.selectedTable = tbName;
                let url = '/mysql/tables/ddl?' +
                    this.combineDbPara() +
                    '&db=' + this.searchCond.dbTestName +
                    '&tableName=' + encodeURIComponent(tbName);
                return axios.get(url).then(response => {
                    this.generateSql = response.data;
                    this.generateSqlShow = true;
                }).catch(error => {
                    this.ajaxError(error);
                });
                /*
                this.searchCond.sql = 'SELECT * FROM `' + this.searchCond.dbTestName +
                    '`.`' + tbName +
                    '` \nWHERE 1=1\nORDER BY 1 DESC';
                 */
            },
            generateSelectSql: function () {
                let fieldList = this.generateFields();
                if (!fieldList || fieldList.length <= 0) {
                    return '未找到字段';
                }
                let sql = 'SELECT ';
                for (let i = 0, j = fieldList.length; i < j; i++) {
                    if (i > 0)
                        sql += ',\n       ';
                    sql += 'a.`' + fieldList[i] + '`';
                }
                sql += '\n  FROM `' + this.searchCond.dbTestName + '`.`'
                    + this.selectedTable + '` a\n WHERE 1=1\n ORDER BY '
                    + this.generatePrimaryKey()
                    + ' DESC LIMIT 200;';
                this.searchCond.sql = sql;
                this.generateSqlShow = false;

                this.executeSql();
            },
            generateUpdateSql: function () {
                let fieldList = this.generateFields();
                if (!fieldList || fieldList.length <= 0) {
                    return '未找到字段';
                }
                let sql = 'UPDATE `' + this.searchCond.dbTestName + '`.`'
                    + this.selectedTable + '`\n   SET ';
                for (let i = 0, j = fieldList.length; i < j; i++) {
                    if (i > 0)
                        sql += ',\n       ';
                    sql += '`' + fieldList[i] + '`=\'{' + fieldList[i] + '}\'';
                }
                sql += '\n WHERE ' + this.generatePrimaryKey() + '={xxx};';
                this.searchCond.sql = sql;
                this.generateSqlShow = false;
            },
            generateInsertSql: function () {
                let fieldList = this.generateFields();
                if (!fieldList || fieldList.length <= 0) {
                    return '未找到字段';
                }
                let sql = 'INSERT INTO `' + this.searchCond.dbTestName + '`.`'
                    + this.selectedTable + '`\n(\n       ';
                for (let i = 0, j = fieldList.length; i < j; i++) {
                    if (i > 0)
                        sql += ',\n       ';
                    sql += '`' + fieldList[i] + '`';
                }
                sql += '\n)VALUES(\n       ';
                for (let i = 0, j = fieldList.length; i < j; i++) {
                    if (i > 0)
                        sql += ',\n       ';
                    sql += '\'{' + fieldList[i] + '}\'';
                }
                sql += '\n);';
                this.searchCond.sql = sql;
                this.generateSqlShow = false;
            },
            generateFields: function () {
                let fieldList = [];

                let regex = /[\r\n]+\s+`([^`]+)`/g;  // 一定要有最后的g
                let match = '';
                while (match = regex.exec(this.generateSql)) {
                    fieldList.push(match[1]);
                }
                return fieldList;
            },
            generatePrimaryKey: function () {
                let regex = /PRIMARY\s+KEY\s+\(([^\)]+)\)/g;
                if (regex.test(this.generateSql)) {
                    return RegExp.$1;
                }
                return '1';
            },

            showFieldValue: function (row, key) {
                this.fieldValueShow = true;
                this.selectedField = key;
                this.selectedFieldValue = row[key];
            },
            formatJson: function () {
                try {
                    this.selectedFieldValue = JSON.stringify(JSON.parse(this.selectedFieldValue), null, 4);
                } catch (e) {
                    alert('错误:' + e);
                }
            },

            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            executeSql: function () {
                if (!this.searchCond.dbTestName) {
                    return alert('数据库必选');
                }
                this.attData = [];

                let url = '/mysql/executeSql?';
                let urlTest = url + this.combineDbPara() + '&db=' + this.searchCond.dbTestName;
                if (this.loading) {
                    return alert('执行中，请稍候');
                }
                this.loading = true;
                let beginTime = new Date();
                let body = {
                    sql: this.searchCond.sql,
                };
                this.resultData = [];
                return axios.post(urlTest, body).then(response => {
                    this.costTime = Math.floor((new Date()) - beginTime);
                    this.loading = false;
                    if (response.data.code !== 200) {
                        return alert(response.data.code + ':' + response.data.errMsg);
                    }
                    this.resultData = response.data.result;
                    this.saveUsingSqls(response.data.errMsg);
                }).catch(error => {
                    this.loading = false;
                    this.ajaxError(error);
                });
            },
            exportResult: function () {
                if (!this.resultData || !this.resultData.length) {
                    return alert('没有结果可导出');
                }
                let dataHeader = '';
                let dataContent = '';
                for (let i = 0, j = this.resultData.length; i < j; i++) {
                    let row = this.resultData[i];
                    if (i > 0) {
                        dataContent += '\r\n';
                    }
                    for (let att in row) {
                        if (i === 0) {
                            dataHeader += '"' + att + '",';
                        }
                        let cell = (row[att] + '').replace(/"/g, '""'); // csv里的双引号转义为2个
                        dataContent += '"\t' + cell + '",';  // \t是避免数字变成科学计数
                    }
                }
                this.downloadData(dataHeader + '\r\n' + dataContent);
            },
            downloadData: function (data) {
                // “\ufeff” BOM头
                let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(data);
                let downloadLink = document.createElement("a");
                downloadLink.href = uri;
                downloadLink.download = "sqlReslut-beinet.csv";
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }


    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>