<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL执行工具</title>
    <script src="/static/unpkg/vue.min.js"></script>
    <script src="/static/unpkg/axios.min.js"></script>
    <script src="/static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="/static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-form-item label="数据库连接信息" style="font-weight: bold;">
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbTestIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbTestUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbTestPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadDbs"></el-button>
            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbTestName" filterable placeholder="请选择数据库">
                    <el-option
                            v-for="item in dbsTest"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>
        <el-form-item label="SQL,只能查询" prop="sql" style="font-weight: bold;">
            <el-input type="textarea" :rows="20" v-model="searchCond.sql" placeholder="请输入SQL" style="width:1240px"/>
        </el-form-item>
        <br>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="executeSql">执 行</el-button>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">耗时: {{costTime}}ms, 行数: {{resultData.length}}</span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="resultData"
              :header-row-class-name="'tableHeader'">
        <el-table-column :label="key"
                         :prop="key"
                         v-for="(value, key, index) in resultData[0]">
        </el-table-column>
    </el-table>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loading: false,
            searchCond: {
                dbTestIp: '10.0.0.1',
                dbTestUser: 'readonly',
                dbTestPwd: '123456',
                dbTestName: '',
                sql: 'SELECT 1 FROM DUAL',
            },

            dbsTest: {},
            defaultName: '',
            costTime: 0,
            resultData: [],
        },
        created: function () {
            this.defaultName = getQueryString('name');
            if (this.searchCond.dbTestIp)
                this.loadDbs();
        },
        computed: {
            filteredTableData: function () {
            }
        },
        methods: {
            combineDbPara: function () {
                if (!this.searchCond.dbTestIp || !this.searchCond.dbTestUser || !this.searchCond.dbTestPwd) {
                    alert('请输入数据库IP/用户/密码');
                    return;
                }
                return 'ip=' + this.searchCond.dbTestIp +
                    '&user=' + encodeURIComponent(this.searchCond.dbTestUser) +
                    '&pwd=' + encodeURIComponent(this.searchCond.dbTestPwd);
            },
            loadDbs: function () {
                let url = '/mysql/databases?' + this.combineDbPara();
                return axios.get(url).then(response => {
                    this.dbsTest = response.data;
                    this.setByDefault('dbTestName', this.dbsTest);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            executeSql: function () {
                if (!this.searchCond.dbTestName) {
                    return alert('数据库必选');
                }
                this.attData = [];

                let url = '/mysql/executeSql?';
                let urlTest = url + this.combineDbPara() + '&db=' + this.searchCond.dbTestName;
                if (this.loading) {
                    return alert('执行中，请稍候');
                }
                this.loading = true;
                let beginTime = new Date();
                let body = {
                    sql: this.searchCond.sql,
                };
                return axios.post(urlTest, body).then(response => {
                    this.costTime = Math.floor((new Date()) - beginTime);
                    this.loading = false;
                    if (response.data.code !== 200) {
                        return alert(response.data.code + ':' + response.data.errMsg);
                    }
                    this.resultData = response.data.result;
                }).catch(error => {
                    this.loading = false;
                    this.ajaxError(error);
                });
            },

            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }


    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>