<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL索引对比</title>
    <script src="/static/unpkg/vue.min.js"></script>
    <script src="/static/unpkg/axios.min.js"></script>
    <script src="/static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="/static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-form-item label="左库" prop="dbTestName" style="font-weight: bold;">
            <el-select v-model="selectTestDbName" filterable placeholder="请选择环境" @change="dbSelected(false)">
                <el-option
                        v-for="item in sqlConns"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbTestIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbTestUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbTestPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadTestDb"></el-button>

            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbTestName" filterable placeholder="请选择数据库1" @change="testDbChange">
                    <el-option
                            v-for="item in dbsTest"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>
        <el-form-item label="右库" prop="dbProdName" style="font-weight: bold;">
            <el-select v-model="selectProdDbName" filterable placeholder="请选择环境" @change="dbSelected(true)">
                <el-option
                        v-for="item in sqlConns"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbProdIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbProdUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbProdPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadProdDb"></el-button>

            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbProdName" filterable placeholder="请选择数据库2">
                    <el-option
                            v-for="item in dbsProd"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="compareDB">对 比</el-button>
            <el-checkbox v-model="searchCond.onlyDiff">只显示差异项</el-checkbox>
            <el-button type="primary" icon="el-icon-edit" @click="generateSQL">脚本生成</el-button>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">共{{attData.length}}个索引，{{filteredTableData.length}}个差异</span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="filteredTableData"
              :header-row-class-name="'tableHeader'"
              :cell-style="cellStyle"
              style="width: 100%">
        <el-table-column
                prop="table"
                label="表名"
                width="200">
        </el-table-column>
        <el-table-column
                prop="index"
                label="索引名"
                width="200">
        </el-table-column>
        <el-table-column
                prop="test"
                label="左库"
                width="600">
        </el-table-column>
        <el-table-column
                prop="prod"
                label="右库"
                width="600">
        </el-table-column>
    </el-table>

    <el-dialog title="生成数据库脚本" :visible.sync="generateSqlShow">
        <template>
            <el-radio-group v-model="generateSqlTarget" @change="doGenerateSql">
                <el-radio :label="'prod'">以左库为准，修改右库</el-radio>
                <el-radio :label="'test'">以右库为准，修改左库</el-radio>
            </el-radio-group>
        </template>
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="generateSql">
            </el-input>
        </div>
    </el-dialog>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loading: false,
            selectTestDbName: '测试-1',
            selectProdDbName: '生产-2',
            sqlConns: [
                {
                    name: '生产-2',
                    dbTestIp: '10.1.1.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '1231357',
                    dbTestName: '',
                },
                {
                    name: '测试-1',
                    dbTestIp: '10.1.1.2',
                    dbTestUser: 'readonly',
                    dbTestPwd: '1231357',
                    dbTestName: '',
                },
            ],

            searchCond: {
                dbTestIp: '',
                dbTestUser: '',
                dbTestPwd: '',
                dbTestName: '',

                dbProdIp: '',
                dbProdUser: '',
                dbProdPwd: '',
                dbProdName: '',
                onlyDiff: true,
            },

            dbsTest: {},
            dbsProd: {},

            tablesTest: {},
            tablesProd: {},
            colsTest: {},
            colsProd: {},
            attData: [],

            generateSqlShow: false,
            generateSqlTarget: 'prod',
            generateSql: '',

            defaultName: '',
        },
        created: function () {
            this.defaultName = getQueryString('name');

            this.dbSelected(true);
            this.dbSelected(false);
        },
        computed: {
            filteredTableData: function () {
                if (this.searchCond.onlyDiff) {
                    // 过滤掉不相等的项，也过滤掉只有环境差异的url
                    return this.attData.filter(item => {
                        return (item.test !== item.prod)
                    });
                }
                return this.attData;
            }
        },
        methods: {
            dbSelected: function (flg) {
                let selectDbName = flg ? this.selectProdDbName : this.selectTestDbName;
                if (!selectDbName)
                    return;
                for (let i = 0, j = this.sqlConns.length; i < j; i++) {
                    if (this.sqlConns[i].name === selectDbName) {
                        this.setDbFromOption(flg, this.sqlConns[i]);
                        this.loadDbs(flg);
                        break;
                    }
                }
            },
            setDbFromOption: function (flg, conns) {
                if (flg) {
                    this.searchCond.dbProdIp = conns.dbTestIp;
                    this.searchCond.dbProdUser = conns.dbTestUser;
                    this.searchCond.dbProdPwd = conns.dbTestPwd;
                } else {
                    this.searchCond.dbTestIp = conns.dbTestIp;
                    this.searchCond.dbTestUser = conns.dbTestUser;
                    this.searchCond.dbTestPwd = conns.dbTestPwd;
                }
            },
            loadTestDb: function () {
                this.loadDbs(false);
            },
            loadProdDb: function () {
                this.loadDbs(true);
            },
            combineDbPara: function (isProd) {
                if (isProd) {
                    if (!this.searchCond.dbProdIp || !this.searchCond.dbProdUser || !this.searchCond.dbProdPwd) {
                        alert('请输入右库IP/用户/密码');
                        return;
                    }
                    return 'ip=' + this.searchCond.dbProdIp +
                        '&user=' + encodeURIComponent(this.searchCond.dbProdUser) +
                        '&pwd=' + encodeURIComponent(this.searchCond.dbProdPwd);
                }
                if (!this.searchCond.dbTestIp || !this.searchCond.dbTestUser || !this.searchCond.dbTestPwd) {
                    alert('请输入左库IP/用户/密码');
                    return;
                }
                return 'ip=' + this.searchCond.dbTestIp +
                    '&user=' + encodeURIComponent(this.searchCond.dbTestUser) +
                    '&pwd=' + encodeURIComponent(this.searchCond.dbTestPwd);
            },

            // 加载数据库列表
            loadDbs: function (isProd) {
                let url = '/mysql/databases?' + this.combineDbPara(isProd);
                return axios.get(url).then(response => {
                    if (isProd) {
                        this.dbsProd = response.data;
                        this.setByDefault('dbProdName', this.dbsProd);
                    } else {
                        this.dbsTest = response.data;
                        this.setByDefault('dbTestName', this.dbsTest);
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            testDbChange: function (testDb) {
                if (!testDb)
                    return;
                testDb = testDb.replace('-dev', '')
                    .replace('-test', '')
                    .replace('-prev', '');

                for (let i = 0, j = this.dbsProd.length; i < j; i++) {
                    let item = this.dbsProd[i];
                    if (item.indexOf(testDb) === 0) {
                        this.searchCond.dbProdName = item;
                        break;
                    }
                }
            },
            compareDB: function () {
                if (!this.searchCond.dbTestName || !this.searchCond.dbProdName) {
                    return alert('数据库必选');
                }
                this.attData = [];

                let url = '/mysql/indexes?';
                let urlTest = url + this.combineDbPara(false) + '&db=' + this.searchCond.dbTestName;
                let urlProd = url + this.combineDbPara(true) + '&db=' + this.searchCond.dbProdName;

                this.loading = true;
                this.loadIndexes(urlTest, false).then(() => {
                    this.loadIndexes(urlProd, true).then(this.compareDo)
                });
            },
            generateSQL: function () {
                if (!this.attData || this.attData.length <= 0) {
                    return alert('请先对比数据库');
                }
                this.searchCond.onlyDiff = true;
                let diffData = this.filteredTableData;
                if (!diffData || diffData.length <= 0) {
                    return alert('未找到数据库差异，无需生成');
                }
                this.doGenerateSql();
            },
            doGenerateSql: function () {
                this.generateSqlShow = true;
                // 允许横向滚动条
                setTimeout(function () {
                    document.getElementsByTagName('textarea')[0].wrap = 'off';
                }, 100);

                let db;
                let sourceIdx;   // 要使用的定义
                let targetIdx;   // 要修改的索引的旧定义

                let sql = '';
                for (let i = 0, j = this.filteredTableData.length; i < j; i++) {
                    let item = this.filteredTableData[i];
                    if (this.generateSqlTarget === 'test') {
                        db = this.searchCond.dbTestName;
                        sourceIdx = item.prod;
                        targetIdx = item.test;
                    } else {
                        db = this.searchCond.dbProdName;
                        sourceIdx = item.test;
                        targetIdx = item.prod;
                    }
                    if (!item.index && sourceIdx) {
                        // 表不存在时，忽略，请去表结构差异页面
                        continue;
                    }
                    if (!sourceIdx) {
                        continue;// 目标有，源没有，这种不需要生成
                    }

                    let addOrEdit = '';
                    if (targetIdx && targetIdx !== '索引不存在') {
                        addOrEdit = 'DROP INDEX `' + item.index + '`';
                    }
                    if (sourceIdx && sourceIdx !== '索引不存在') {
                        if (addOrEdit.length > 0)
                            addOrEdit += ',\r\n';
                        addOrEdit += '  ADD ' + sourceIdx;
                    }

                    // ALTER TABLE xx CHANGE `id` `id` INT(11) NOT NULL  AUTO_INCREMENT  PRIMARY KEY会报错：key重复
                    // 可以后续处理索引差异对比时再说
                    sql += 'ALTER TABLE `' + db + '`.`' + item.table + '`\r\n  ' +
                        addOrEdit + ';\n\n';
                }
                this.generateSql = sql;
            },
            cellStyle(row, column, rowIndex, columnIndex) {
                let style = 'text-align:left;margin-left:20px;';
                if (row.column.label === "左库" && (row.row.test === '索引不存在' || row.row.test === '表不存在')) {
                    style += 'color:red;font-weight:bold;';
                } else if (row.column.label === "右库" && (row.row.prod === '索引不存在' || row.row.prod === '表不存在')) {
                    style += 'color:red;font-weight:bold;';
                }
                return style;
            },
            // 加载所有表的索引列表
            loadIndexes: function (urlConfig, isProd) {
                return axios.get(urlConfig).then(response => {
                    let arr = response.data;
                    if (isProd) {
                        this.colsProd = arr;
                    } else {
                        this.colsTest = arr;
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            compareDo: function () {
                if (!this.colsProd || !hasAnyProperty(this.colsProd)) {
                    this.loading = false;
                    return alert('右库:数据库列表加载失败，请重试');
                }
                if (!this.colsTest || !hasAnyProperty(this.colsTest)) {
                    this.loading = false;
                    return alert('左库:数据库列表加载失败，请重试');
                }
                let loadedAtt = {};
                // 加载左库, att是表名
                for (let att in this.colsTest) {
                    if (!this.colsProd[att]) {
                        // 右库不存在此表
                        loadedAtt[att] = {
                            test: att,
                            table: att,
                            index: '',
                            prod: '表不存在',
                        };
                        continue;
                    }

                    let colList = this.colsTest[att];
                    for (let idxName in colList) {
                        let idxDefine = colList[idxName];
                        let key = (att + '.' + idxName).toLowerCase();
                        loadedAtt[key] = {
                            test: idxDefine,
                            table: att,
                            index: idxName,
                            prod: '索引不存在',
                        };
                    }
                }
                // 加载右库
                for (let att in this.colsProd) {
                    if (!this.colsTest[att]) {
                        // 右库不存在此表
                        loadedAtt[att] = {
                            test: '表不存在',
                            table: att,
                            index: '',
                            prod: att,
                        };
                        continue;
                    }

                    let colList = this.colsProd[att];
                    for (let idxName in colList) {
                        let idxDefine = colList[idxName];
                        let key = (att + '.' + idxName).toLowerCase();
                        if (loadedAtt[key]) {
                            loadedAtt[key].prod = idxDefine;
                        } else {
                            loadedAtt[key] = {
                                test: '索引不存在',
                                table: att,
                                index: idxName,
                                prod: idxDefine,
                            };
                        }
                    }
                }

                // 转成数组，供表格展示
                let resultData = [];
                for (let att in loadedAtt) {
                    let item = loadedAtt[att];
                    resultData.push({
                        key: att,
                        table: item.table,
                        index: item.index,
                        test: item.test,
                        prod: item.prod,
                        testDefine: item.testDefine,
                        prodDefine: item.prodDefine,
                    });
                }
                Vue.set(this, 'attData', resultData.sort(this.sortByKey));
                this.loading = false;
            },
            sortByKey: function (item1, item2) {
                return item1.key.localeCompare(item2.key);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }

</script>
</body>
</html>