<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL数据库对比</title>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-form-item label="左库" prop="dbTestName" style="font-weight: bold;">
            <el-select v-model="selectTestDbName" filterable placeholder="请选择环境" @change="dbSelected(false)">
                <el-option
                        v-for="item in sqlConns"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbTestIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbTestUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbTestPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadTestDb"></el-button>

            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbTestName" filterable placeholder="请选择数据库1" @change="testDbChange">
                    <el-option
                            v-for="item in dbsTest"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>
        <el-form-item label="右库" prop="dbProdName" style="font-weight: bold;">
            <el-select v-model="selectProdDbName" filterable placeholder="请选择环境" @change="dbSelected(true)">
                <el-option
                        v-for="item in sqlConns"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
            <el-form-item label="IP">
                <input type="text" v-model="searchCond.dbProdIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.dbProdUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.dbProdPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadProdDb"></el-button>

            <el-form-item label="刷新数据库列表">
                <el-select v-model="searchCond.dbProdName" filterable placeholder="请选择数据库2">
                    <el-option
                            v-for="item in dbsProd"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="compareDB">对 比</el-button>
            <el-checkbox v-model="searchCond.onlyDiff">只显示差异项</el-checkbox>
            <el-button type="primary" icon="el-icon-edit" @click="generateSQL">脚本生成</el-button>
            <el-button icon="el-icon-refresh" @click="location.reload()">页面刷新</el-button>
            &nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" @click="switchConfig()">源 <-> 目标</a>
            |
            <a href="javascript:void(0)" @click="copyToTarget()">源 -> 目标</a>
            |
            <a href="javascript:void(0)" @click="copyToSource()">目标 -> 源</a>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">共{{attData.length}}个字段，{{filteredTableData.length}}个差异</span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="filteredTableData"
              :header-row-class-name="'tableHeader'"
              :cell-style="cellStyle"
              style="width: 100%">
        <el-table-column
                prop="table"
                label="表名"
                width="200">
        </el-table-column>
        <el-table-column
                prop="column"
                label="字段名"
                width="200">
        </el-table-column>
        <el-table-column
                prop="test"
                label="左库"
                width="400">
        </el-table-column>
        <el-table-column
                prop="prod"
                label="右库"
                width="400">
        </el-table-column>
        <el-table-column
                prop="comment"
                label="注释"
                width="300">
        </el-table-column>
    </el-table>

    <el-dialog title="生成数据库脚本" :visible.sync="generateSqlShow">
        <template>
            <el-radio-group v-model="generateSqlTarget" @change="doGenerateSql">
                <el-radio :label="'prod'">以左库为准，修改右库</el-radio>
                <el-radio :label="'test'">以右库为准，修改左库</el-radio>
            </el-radio-group>
        </template>
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="generateSql">
            </el-input>
        </div>
    </el-dialog>
</div>
<script>
    const BASE_URL = '/' + location.pathname.split('/')[1] + '/'; // '/ops/';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loading: false,
            selectTestDbName: '测试-1',
            selectProdDbName: '生产-2',
            sqlConns: [
                {
                    name: '生产-2',
                    dbTestIp: '10.1.1.1',
                    dbTestUser: 'readonly',
                    dbTestPwd: '1231357',
                    dbTestName: '',
                },
                {
                    name: '测试-1',
                    dbTestIp: '10.1.1.2',
                    dbTestUser: 'readonly',
                    dbTestPwd: '1231357',
                    dbTestName: '',
                },
            ],

            searchCond: {
                dbTestIp: '',
                dbTestUser: '',
                dbTestPwd: '',
                dbTestName: '',

                dbProdIp: '',
                dbProdUser: '',
                dbProdPwd: '',
                dbProdName: '',
                onlyDiff: true,
            },

            dbsTest: {},
            dbsProd: {},

            tablesTest: {},
            tablesProd: {},
            colsTest: {},
            colsProd: {},
            attData: [],

            generateSqlShow: false,
            generateSqlTarget: 'prod',
            generateSql: '',
            fullLoading: null, // 在获取sql时，全屏显示加载中

            defaultName: '',
        },
        created: function () {
            this.defaultName = getQueryString('name');

            this.dbSelected(true);
            this.dbSelected(false);
        },
        computed: {
            filteredTableData: function () {
                if (this.searchCond.onlyDiff) {
                    // 过滤掉不相等的项，也过滤掉只有环境差异的url
                    return this.attData.filter(item => {
                        return (item.test !== item.prod)
                    });
                }
                return this.attData;
            }
        },
        methods: {
            openFullScreenLoading() {
                this.fullLoading = this.$loading({
                    lock: true,
                    text: '数据库脚本生成中，请等待……',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                //setTimeout(() => {
                //    this.fullLoading.close();
                //}, 2000);
            },
            switchConfig: function () {
                let ip = this.searchCond.dbTestIp;
                let user = this.searchCond.dbTestUser;
                let pwd = this.searchCond.dbTestPwd;

                let db1 = this.searchCond.dbTestName;
                let db2 = this.searchCond.dbProdName;

                this.searchCond.dbTestIp = this.searchCond.dbProdIp;
                this.searchCond.dbTestUser = this.searchCond.dbProdUser;
                this.searchCond.dbTestPwd = this.searchCond.dbProdPwd;
                this.loadTestDb();
                this.searchCond.dbProdIp = ip;
                this.searchCond.dbProdUser = user;
                this.searchCond.dbProdPwd = pwd;
                this.loadProdDb();
                setTimeout(() => {
                    this.searchCond.dbTestName = db2;
                    this.searchCond.dbProdName = db1;
                }, 2000);
            },
            copyToTarget: function () {
                this.searchCond.dbProdIp = this.searchCond.dbTestIp;
                this.searchCond.dbProdUser = this.searchCond.dbTestUser;
                this.searchCond.dbProdPwd = this.searchCond.dbTestPwd;

                this.loadProdDb();
                setTimeout(() => {
                    this.searchCond.dbProdName = this.searchCond.dbTestName;
                }, 2000);
            },
            copyToSource: function () {
                this.searchCond.dbTestIp = this.searchCond.dbProdIp;
                this.searchCond.dbTestUser = this.searchCond.dbProdUser;
                this.searchCond.dbTestPwd = this.searchCond.dbProdPwd;

                this.loadTestDb();
                setTimeout(() => {
                    this.searchCond.dbProdName = this.searchCond.dbProdName;
                }, 2000);
            },
            dbSelected: function (flg) {
                let selectDbName = flg ? this.selectProdDbName : this.selectTestDbName;
                if (!selectDbName)
                    return;
                for (let i = 0, j = this.sqlConns.length; i < j; i++) {
                    if (this.sqlConns[i].name === selectDbName) {
                        this.setDbFromOption(flg, this.sqlConns[i]);
                        this.loadDbs(flg);
                        break;
                    }
                }
            },
            setDbFromOption: function (flg, conns) {
                if (flg) {
                    this.searchCond.dbProdIp = conns.dbTestIp;
                    this.searchCond.dbProdUser = conns.dbTestUser;
                    this.searchCond.dbProdPwd = conns.dbTestPwd;
                } else {
                    this.searchCond.dbTestIp = conns.dbTestIp;
                    this.searchCond.dbTestUser = conns.dbTestUser;
                    this.searchCond.dbTestPwd = conns.dbTestPwd;
                }
            },
            loadTestDb: function () {
                this.loadDbs(false);
            },
            loadProdDb: function () {
                this.loadDbs(true);
            },
            combineDbPara: function (isProd, addDb) {
                if (isProd) {
                    if (!this.searchCond.dbProdIp || !this.searchCond.dbProdUser || !this.searchCond.dbProdPwd) {
                        alert('请输入右库IP/用户/密码');
                        return;
                    }
                    let ret = 'ip=' + this.searchCond.dbProdIp +
                        '&user=' + encodeURIComponent(this.searchCond.dbProdUser) +
                        '&pwd=' + encodeURIComponent(this.searchCond.dbProdPwd);
                    if (addDb === true) {
                        ret += '&db=' + encodeURIComponent(this.searchCond.dbProdName);
                    }
                    return ret;
                }
                if (!this.searchCond.dbTestIp || !this.searchCond.dbTestUser || !this.searchCond.dbTestPwd) {
                    alert('请输入左库IP/用户/密码');
                    return;
                }
                let ret = 'ip=' + this.searchCond.dbTestIp +
                    '&user=' + encodeURIComponent(this.searchCond.dbTestUser) +
                    '&pwd=' + encodeURIComponent(this.searchCond.dbTestPwd);
                if (addDb === true) {
                    ret += '&db=' + encodeURIComponent(this.searchCond.dbTestName);
                }
                return ret;
            },
            loadDbs: function (isProd) {
                let para = this.combineDbPara(isProd);
                let url = BASE_URL + 'mysql/databases?' + para;
                return axios.get(url).then(response => {
                    if (!Array.isArray(response.data)) {
                        if (response.data.errMsg) {
                            alert(para + '\r\n' + response.data.errMsg);
                        }
                        return;
                    }
                    if (isProd) {
                        this.dbsProd = response.data;
                        this.setByDefault('dbProdName', this.dbsProd);
                    } else {
                        this.dbsTest = response.data;
                        this.setByDefault('dbTestName', this.dbsTest);
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            testDbChange: function (testDb) {
                if (!testDb)
                    return;
                testDb = testDb.replace('-dev', '')
                    .replace('-test', '')
                    .replace('-prev', '');

                for (let i = 0, j = this.dbsProd.length; i < j; i++) {
                    let item = this.dbsProd[i];
                    if (item.indexOf(testDb) === 0) {
                        this.searchCond.dbProdName = item;
                        break;
                    }
                }
            },
            compareDB: function () {
                if (!this.searchCond.dbTestName || !this.searchCond.dbProdName) {
                    return alert('数据库必选');
                }
                this.attData = [];

                let url = BASE_URL + 'mysql/tables?';
                let urlTest = url + this.combineDbPara(false) + '&db=' + this.searchCond.dbTestName;
                let urlProd = url + this.combineDbPara(true) + '&db=' + this.searchCond.dbProdName;
                this.loading = true;
                this.loadColumns(urlTest, false).then(() => {
                    this.loadColumns(urlProd, true).then(this.compareDo)
                });
            },
            generateSQL: function () {
                if (!this.attData || this.attData.length <= 0) {
                    return alert('请先对比数据库');
                }
                this.searchCond.onlyDiff = true;
                let diffData = this.filteredTableData;
                if (!diffData || diffData.length <= 0) {
                    return alert('未找到数据库差异，无需生成');
                }
                this.doGenerateSql();
            },
            adjustTextarea: function () {
                if (this.fullLoading !== null) {
                    let txt = document.getElementsByTagName('textarea')[0];
                    txt.wrap = 'off';  // 允许横向滚动条
                    txt.scrollTop = txt.scrollHeight; // 自动滚动到底部
                }
                setTimeout(this.adjustTextarea, 1000);
            },
            doGenerateSql: async function () {
                let diffData = this.filteredTableData;
                this.generateSqlShow = true;

                setTimeout(this.openFullScreenLoading, 1000); // this.openFullScreenLoading(); // 开始加载，用于展示加载中指示
                this.adjustTextarea();

                let db;
                let sourceCol;   // 要使用的列定义
                let targetCol;   // 要修改的列 旧定义

                let isProd = this.generateSqlTarget === 'test';
                this.generateSql = '';
                for (let i = 0, j = diffData.length; i < j; i++) {
                    let item = diffData[i];
                    if (isProd) {
                        db = this.searchCond.dbTestName;
                        sourceCol = item.prodDefine;
                        targetCol = item.testDefine;
                    } else {
                        db = this.searchCond.dbProdName;
                        sourceCol = item.testDefine;
                        targetCol = item.prodDefine;
                    }
                    if (!item.column && sourceCol) {
                        // 表不存在时，sourceCol是所有的列，此时要生成建表语句
                        this.generateSql += await this.generateTableSql(isProd, db, item.table) + ';\n\n';
                        continue;
                    }
                    if (!sourceCol) {
                        continue;// 目标有，源没有，这种不需要生成
                    }

                    let addOrEdit;
                    if (targetCol) {
                        addOrEdit = 'CHANGE `' + targetCol.column + '` ';
                    } else {
                        addOrEdit = 'ADD COLUMN ';
                    }

                    // ALTER TABLE xx CHANGE `id` `id` INT(11) NOT NULL  AUTO_INCREMENT  PRIMARY KEY会报错：key重复
                    // 可以后续处理索引差异对比时再说
                    this.generateSql += 'ALTER TABLE `' + db + '`.`' + item.table + '` ' +
                        addOrEdit + this.generateRowSql(sourceCol) + ';\n\n';
                }
                // 关闭loading
                this.fullLoading.close();
                this.fullLoading = null;
            },
            // 调用接口，直接获取ddl【SHOW CREATE TABLE 表名】
            generateTableSql: function (isProd, newDb, table) {
                let url = BASE_URL + 'mysql/tables/ddl?' + this.combineDbPara(isProd, true) + '&tableName=' + table;
                return axios.get(url).then(response => {
                    return this.processDDL(response.data, newDb);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            processDDL: function (sqlDDL, db) {
                // 替换掉不必要的自增值
                return sqlDDL.replace(/\sAUTO_INCREMENT=\d+\s/g, ' ')
                    .replace(/CREATE TABLE\s+/g, 'CREATE TABLE `' + db + '`.');
            },
            // 遍历所有列，自行拼接建表语句
            generateTableSqlCustom: function (db, table, colList) {
                let sql = 'CREATE TABLE `' + db + '`.`' + table + '`(';
                for (let i = 0, j = colList.length; i < j; i++) {
                    let item = colList[i];
                    sql += this.generateRowSql(item);
                    if (i < j - 1) {
                        sql += ',';
                    }
                }
                sql += this.generateKeySql(); // 拼接主键和索引
                sql += ')\n ENGINE=INNODB DEFAULT CHARSET=utf8mb4';
                return sql;
            },
            // 获取指定表的主键和索引sql等信息
            generateKeySql: function () {
                // 未完成
            },
            generateRowSql: function (sourceCol) {
                let defaultVal = '';
                if (sourceCol.defaultVal !== null) {//&& sourceCol.defaultVal.length > 0
                    if (sourceCol.defaultVal !== 'CURRENT_TIMESTAMP' &&
                        sourceCol.defaultVal.indexOf('\'') < 0) {
                        defaultVal = '\'' + sourceCol.defaultVal + '\'';
                    } else {
                        defaultVal = sourceCol.defaultVal;
                    }
                    defaultVal = ' DEFAULT ' + defaultVal;
                }
                let nullable = ' NOT NULL ';
                if (sourceCol.nullable) {
                    nullable = ' NULL ';
                }
                let autoInc = '';
                if (sourceCol.auto) {
                    autoInc = ' AUTO_INCREMENT ';
                }
                let primaryKey = '';
                let comment = '';
                if (sourceCol.comment) {
                    let tmpComment = sourceCol.comment.replace(/\s+/g, ' ').replace(/'/g, '\\\'');
                    comment = ' COMMENT \'' + tmpComment + '\' ';
                }
                return '\n  `' + sourceCol.originColumn + '` ' + sourceCol.type +
                    defaultVal + nullable + autoInc + primaryKey + comment;
            },
            cellStyle(row, column, rowIndex, columnIndex) {
                let style = 'text-align:left;margin-left:20px;';
                if (row.column.label === "左库" && (row.row.test === '字段不存在' || row.row.test === '表不存在')) {
                    style += 'color:red;font-weight:bold;';
                } else if (row.column.label === "右库" && (row.row.prod === '字段不存在' || row.row.prod === '表不存在')) {
                    style += 'color:red;font-weight:bold;';
                }
                return style;
            },
            loadColumns: function (urlConfig, isProd) {
                return axios.get(urlConfig).then(response => {
                    let arr = response.data;
                    if (isProd) {
                        this.colsProd = arr;
                    } else {
                        this.colsTest = arr;
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            compareDo: function () {
                if (!this.colsProd || !hasAnyProperty(this.colsProd)) {
                    this.loading = false;
                    return alert('右库:数据库列表加载失败，请重试');
                }
                if (!this.colsTest || !hasAnyProperty(this.colsTest)) {
                    this.loading = false;
                    return alert('左库:数据库列表加载失败，请重试');
                }
                let loadedAtt = {};
                // 加载左库, att是表名
                for (let att in this.colsTest) {
                    if (!this.colsProd[att]) {
                        // 右库不存在此表
                        loadedAtt[att] = {
                            test: att,
                            table: att,
                            column: '',
                            prod: '表不存在',
                            comment: '',
                            testDefine: this.colsTest[att],
                            prodDefine: null,
                        };
                        continue;
                    }

                    let colList = this.colsTest[att];
                    for (let i = 0, j = colList.length; i < j; i++) {
                        let col = colList[i];
                        let key = (att + '.' + col.column).toLowerCase();

                        loadedAtt[key] = {
                            test: this.combineCol(col),
                            table: att,
                            column: col.originColumn,
                            prod: '字段不存在',
                            comment: col.comment,
                            testDefine: col,
                            prodDefine: null,
                        };
                    }
                }
                // 加载右库
                for (let att in this.colsProd) {
                    if (!this.colsTest[att]) {
                        // 右库不存在此表
                        loadedAtt[att] = {
                            test: '表不存在',
                            table: att,
                            column: '',
                            prod: att,
                            comment: '',
                            testDefine: null,
                            prodDefine: this.colsProd[att],
                        };
                        continue;
                    }

                    let colList = this.colsProd[att];
                    for (let i = 0, j = colList.length; i < j; i++) {
                        let col = colList[i];
                        let key = (att + '.' + col.column).toLowerCase();
                        if (loadedAtt[key]) {
                            loadedAtt[key].prod = this.combineCol(col);
                            loadedAtt[key].prodDefine = col;
                            if (!loadedAtt[key].comment) {
                                loadedAtt[key].comment = col.comment;
                            }
                        } else {
                            loadedAtt[key] = {
                                test: '字段不存在',
                                table: att,
                                column: col.originColumn,
                                prod: this.combineCol(col),
                                comment: col.comment,
                                testDefine: null,
                                prodDefine: col,
                            };
                        }
                    }
                }

                // 转成数组，供表格展示
                let resultData = [];
                for (let att in loadedAtt) {
                    let item = loadedAtt[att];
                    resultData.push({
                        key: att,
                        table: item.table,
                        column: item.column,
                        test: item.test,
                        prod: item.prod,
                        comment: item.comment,
                        testDefine: item.testDefine,
                        prodDefine: item.prodDefine,
                    });
                }
                Vue.set(this, 'attData', resultData.sort(this.sortByKey));
                this.loading = false;
            },
            combineCol: function (col) {
                let ret = col.type;
                //if (col.size) {
                //    ret += '(' + col.size + ')';
                //}
                if (col.primaryKey) {
                    ret += ' 主键';
                }
                if (col.auto) {
                    ret += ' 自增';
                }
                if (col.nullable) {
                    ret += ' 可空';
                }
                if (col.defaultVal !== null && col.defaultVal.length > 0) {
                    ret += ' 默认值:' + col.defaultVal;
                }
                return ret;
            },
            sortByKey: function (item1, item2) {
                return item1.key.localeCompare(item2.key);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }


    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>