<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置对比</title>
    <script src="../static/common.js?v=1"></script>
    <script src="../static/vue.min.js"></script>
    <script src="../static/axios.min.js"></script>
    <script src="../static/elemeIndex.js"></script>
    <link rel="stylesheet" href="../static/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">

        <el-form-item label="对比的源" style="font-weight: bold;">
            <el-select v-model="selectTestName" filterable placeholder="请选择" @change="connsSelected(false)">
                <el-option
                        v-for="item in nacosConns"
                        :key="item.configName"
                        :label="item.configName"
                        :value="item.configName">
                </el-option>
            </el-select>
            <el-form-item label="url">
                <input type="text" v-model.trim="searchCond.nacosTestIp" style="width:240px" :readonly="!isTestCustom"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model.trim="searchCond.nacosTestUser" style="width:60px"
                       :readonly="!isTestCustom"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model.trim="searchCond.nacosTestPwd" style="width:60px"
                       :readonly="!isTestCustom"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadTestNacosNs"></el-button>

            <el-form-item label="命名空间">
                <el-select v-model="searchCond.nacosTestNs" filterable placeholder="请选择命名空间"
                           @change="testNacosChange">
                    <el-option
                            v-for="item in namespaceTestArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select v-model="searchCond.nacosTestFile" filterable placeholder="请选择文件"
                           @change="testNacosFileChange">
                    <el-option
                            v-for="item in fileTestArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>

        <el-form-item label="对比目标" style="font-weight: bold;">
            <el-select v-model="selectProdName" filterable placeholder="请选择" @change="connsSelected(true)">
                <el-option
                        v-for="item in nacosConns"
                        :key="item.configName"
                        :label="item.configName"
                        :value="item.configName">
                </el-option>
            </el-select>
            <el-form-item label="url">
                <input type="text" v-model="searchCond.nacosProdIp" style="width:240px" :readonly="!isProdCustom"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.nacosProdUser" style="width:60px" :readonly="!isProdCustom"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.nacosProdPwd" style="width:60px" :readonly="!isProdCustom"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadProdNacosNs"></el-button>

            <el-form-item label="命名空间">
                <el-select v-model="searchCond.nacosProdNs" filterable placeholder="请选择命名空间"
                           @change="prodNacosChange">
                    <el-option
                            v-for="item in namespaceProdArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select v-model="searchCond.nacosProdFile" filterable placeholder="请选择文件"
                           @change="prodNacosFileChange">
                    <el-option
                            v-for="item in fileProdArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>

        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="compareConfig('searchForm')">对 比</el-button>
            显示：
            <el-radio-group v-model="searchCond.onlyDiff">
                <el-radio :label="0">全部</el-radio>
                <el-radio :label="1">仅差异项</el-radio>
                <el-radio :label="2">仅忽略项</el-radio>
            </el-radio-group>&nbsp;&nbsp;&nbsp;&nbsp;
            <el-button icon="el-icon-edit" @click="restoreAllIgnore()">恢复所有忽略项</el-button>

            <el-button type="primary" icon="el-icon-edit" @click="doGenerateYml">差异项yml生成</el-button>

            <el-button icon="el-icon-refresh" @click="location.reload()">页面刷新</el-button>
            <a href="javascript:void(0)" @click="switchConfig()">源<=>目标</a>
            |
            <a href="javascript:void(0)" @click="copyToTarget()">源=>目标</a>
            |
            <a href="javascript:void(0)" @click="copyToSource()">目标=>源</a>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">共{{attData.length}}个配置项，{{filteredTableData.length}}个差异项</span>
            <span style="color:red;"></span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="filteredTableData"
              :header-row-class-name="'tableHeader'"
              style="width: 100%">
        <el-table-column
                prop="key"
                label="键名"
                width="420">
        </el-table-column>
        <el-table-column
                label="对比源"
                width="460">
            <template slot-scope="scope">
                <el-input v-model="scope.row.test"></el-input>
            </template>
        </el-table-column>
        <el-table-column
                label="对比目标"
                width="460">
            <template slot-scope="scope">
                <el-input v-model="scope.row.prod"></el-input>
            </template>
        </el-table-column>
        <el-table-column
                label="操作"
                width="300">
            <template slot-scope="scope">
                <el-button type="primary" @click="operateIgnoreKey(scope.row.key)">
                    {{getBtnTxt(scope.row.key)}}
                </el-button>
                <el-button type="primary" @click="openTest(scope.row.key)">去改源</el-button>
                <el-button type="primary" @click="openProd(scope.row.key)">改目标</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="YML配置生成" :visible.sync="generateYmlShow">
        <template>
            <span style="border: #66b1ff solid 1px;">
                <label><input type="radio" value="test" name="radGenYml" v-model="generateYmlTarget"
                              @change="doGenerateYml">以源为准</label>
                <label><input type="radio" value="prod" name="radGenYml" v-model="generateYmlTarget"
                              @change="doGenerateYml">以目标为准</label>
            </span>
            &nbsp;&nbsp;
            <span style="border: #66b1ff solid 1px;">
                <label><input type="radio" value="diff" name="radYmlType" v-model="generateYmlType"
                              @change="doGenerateYml">仅生成差异项</label>
                <label><input type="radio" value="all" name="radYmlType" v-model="generateYmlType"
                              @change="doGenerateYml">生成全部配置</label>
            </span>
            &nbsp;&nbsp;
            <el-checkbox v-model="generateExceptIgnore" @change="doGenerateYml">生成时不含忽略项</el-checkbox>
            <el-checkbox v-model="generateSplitYml" @change="doGenerateYml">YML多行格式</el-checkbox>
        </template>
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="generateYml">
            </el-input>
        </div>
    </el-dialog>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            nacosConns: [], // 所有可用的nacos连接

            selectTestName: '', // 左边选择的连接
            selectProdName: '',// 右边选择的连接
            searchCond: {
                nacosTestIp: 'http://10.51.30.102/nacos/',
                nacosTestUser: 'nacos',
                nacosTestPwd: 'nacos',
                nacosTestNs: '',
                nacosTestFile: '',
                testConfigName: '',

                nacosProdIp: 'http://10.51.30.102/nacos/',
                nacosProdUser: 'nacos',
                nacosProdPwd: 'nacos',
                nacosProdNs: '',
                nacosProdFile: '',
                prodConfigName: '',

                onlyDiff: 1,
            },
            namespaceTestArr: [],   // 左边的命名空间列表
            namespaceProdArr: [],   // 右边的命名空间列表
            fileTestArr: [],        // 左边的配置文件列表
            fileProdArr: [],        // 右边的配置文件列表

            loading: false,
            configTest: {},         // 左边的配置明细
            configProd: {},         // 右边的配置明细
            attData: [],            // 左右合并的所有配置key和左值、右值列表
            ignoreKeys: {  // 不加载的key列表，不作对比和展示. 注：下面的“1”无具体意义
                'spring.datasource.url': 1,
                'spring.datasource.username': 1,
                'spring.datasource.password': 1,
                'spring.jpa.show_sql': 1,
                //'spring.jpa.hibernate.ddl-auto': 1,
                'spring.redis.host': 1,
                'spring.redis.port': 1,
                'spring.redis.database': 1,
                'spring.redis.password': 1,
                //'spring.redis.timeout': 1,
                'spring.rabbitmq.host': 1,
                'spring.rabbitmq.username': 1,
                'spring.rabbitmq.password': 1,
                'spring.rabbitmq.port': 1,
            },
            ignoreKeyByProject: {},// 每个项目要忽略的key列表

            generateYmlShow: false,
            generateYmlTarget: 'test',
            generateYml: '',
            generateSplitYml: true,
            generateExceptIgnore: true,
            generateYmlType: 'diff',

            defaultName: '',
        },
        created: function () {
            this.defaultName = getQueryString('name');
            if (!this.defaultName)
                this.defaultName = 'beinet-prod';

            this.loadConnections().then(() => {
                this.selectTestName = this.nacosConns[0].configName;
                if (this.nacosConns.length > 1)
                    this.selectProdName = this.nacosConns[1].configName;

                this.connsSelected(false);
                this.connsSelected(true);
            });
        },
        computed: {
            // 用于展示的内容
            filteredTableData: function () {
                if (this.searchCond.onlyDiff === 1) {
                    // 过滤掉不相等的项，也过滤掉只有环境差异的url
                    return this.attData.filter(item => {
                        if (this.isIgnoreKeyByProj(item.key))
                            return false;
                        if (item.test === item.prod)
                            return false;
                        let testVal = this.removeEnvStr(item.test);
                        return (item.test !== item.prod
                            && testVal !== item.prod
                            && testVal !== this.removeEnvStr(item.prod));
                    });
                }

                if (this.searchCond.onlyDiff === 2) {
                    // 只展示过滤项
                    return this.attData.filter(item => {
                        if (this.isIgnoreKeyByProj(item.key))
                            return true;
                        return false;
                    });
                }

                return this.attData;
            },
            isTestCustom: function () {
                return this.selectTestName === '' || this.selectTestName === '自定义';
            },
            isProdCustom: function () {
                return this.selectProdName === '' || this.selectProdName === '自定义';
            },
        },
        methods: {
            loadConnections: function () {
                let url = $$BASE_URL + 'linkinfo/list?type=nacos';
                return axios.get(url).then(response => {
                    if (!response.data || !response.data.length) {
                        return alert('出错:' + response.data.errMsg);
                    }
                    for (let i = 0, j = response.data.length; i < j; i++) {
                        let item = response.data[i];
                        this.nacosConns.push({
                            configName: item.name,
                            nacosIp: item.address,
                            nacosUser: item.account,
                            nacosPwd: '123456',
                        });
                    }
                    this.nacosConns.push({
                        configName: '自定义',
                        nacosIp: '',
                        nacosUser: '',
                        nacosPwd: '',
                    });
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            connsSelected: function (flg) {
                let selectName = flg ? this.selectProdName : this.selectTestName;
                if (!selectName)
                    return;
                for (let i = 0, j = this.nacosConns.length; i < j; i++) {
                    if (this.nacosConns[i].configName === selectName) {
                        this.setDbFromOption(flg, this.nacosConns[i]);
                        if (selectName === '自定义')
                            return;
                        this.loadNacosNs(flg);
                        break;
                    }
                }
            },
            setDbFromOption: function (flg, conns) {
                if (flg) {
                    this.searchCond.nacosProdIp = conns.nacosIp;
                    this.searchCond.nacosProdUser = conns.nacosUser;
                    this.searchCond.nacosProdPwd = conns.nacosPwd;
                    this.searchCond.prodConfigName = conns.configName;
                } else {
                    this.searchCond.nacosTestIp = conns.nacosIp;
                    this.searchCond.nacosTestUser = conns.nacosUser;
                    this.searchCond.nacosTestPwd = conns.nacosPwd;
                    this.searchCond.testConfigName = conns.configName;
                }
            },
            switchConfig: function () {
                let ip = this.searchCond.nacosTestIp;
                let user = this.searchCond.nacosTestUser;
                let pwd = this.searchCond.nacosTestPwd;
                let configName = this.searchCond.testConfigName;

                let ns = this.searchCond.nacosTestNs;
                let file = this.searchCond.nacosTestFile;
                let ns2 = this.searchCond.nacosProdNs;
                let file2 = this.searchCond.nacosProdFile;

                this.searchCond.nacosTestIp = this.searchCond.nacosProdIp;
                this.searchCond.nacosTestUser = this.searchCond.nacosProdUser;
                this.searchCond.nacosTestPwd = this.searchCond.nacosProdPwd;
                this.searchCond.testConfigName = this.searchCond.prodConfigName;
                this.loadTestNacosNs();

                this.searchCond.nacosProdIp = ip;
                this.searchCond.nacosProdUser = user;
                this.searchCond.nacosProdPwd = pwd;
                this.searchCond.prodConfigName = configName;
                this.loadProdNacosNs();

                setTimeout(() => {
                    this.searchCond.nacosTestNs = ns2;
                    this.searchCond.nacosTestFile = file2;
                    this.searchCond.nacosProdNs = ns;
                    this.searchCond.nacosProdFile = file;
                }, 2000);
            },
            copyToTarget: function () {
                this.searchCond.nacosProdIp = this.searchCond.nacosTestIp;
                this.searchCond.nacosProdUser = this.searchCond.nacosTestUser;
                this.searchCond.nacosProdPwd = this.searchCond.nacosTestPwd;
                this.searchCond.prodConfigName = this.searchCond.testConfigName;
                this.loadProdNacosNs();
                setTimeout(() => {
                    this.searchCond.nacosProdNs = this.searchCond.nacosTestNs;
                    this.searchCond.nacosProdFile = this.searchCond.nacosTestFile;
                }, 2000);
            },
            copyToSource: function () {
                this.searchCond.nacosTestIp = this.searchCond.nacosProdIp;
                this.searchCond.nacosTestUser = this.searchCond.nacosProdUser;
                this.searchCond.nacosTestPwd = this.searchCond.nacosProdPwd;
                this.searchCond.testConfigName = this.searchCond.prodConfigName;
                this.loadTestNacosNs();
                setTimeout(() => {
                    this.searchCond.nacosTestNs = this.searchCond.nacosProdNs;
                    this.searchCond.nacosTestFile = this.searchCond.nacosProdFile;
                }, 2000);
            },

            init: function () {
                this.configTest = {};
                this.configProd = {};
                this.attData = [];
            },
            removeEnvStr: function (str) {
                return str.replace(/dev/g, '')
                    .replace(/test/g, '')
                    .replace(/pre/g, '')
                    .replace(/prod/g, '');
            },
            getPara: function (isProd, full) {
                let ip = isProd ? this.searchCond.nacosProdIp : this.searchCond.nacosTestIp;
                if (!ip)
                    return '';
                if (!ip.endsWith('/')) {
                    ip += '/';
                    if (isProd)
                        this.searchCond.nacosProdIp = ip;
                    else
                        this.searchCond.nacosTestIp = ip;
                }
                let ret = 'url=' + encodeURIComponent(ip);
                if (!full)
                    return ret;
                let ns = isProd ? this.searchCond.nacosProdNs : this.searchCond.nacosTestNs;
                let user = isProd ? this.searchCond.nacosProdUser : this.searchCond.nacosTestUser;
                let pwd = isProd ? this.searchCond.nacosProdPwd : this.searchCond.nacosTestPwd;
                let file = isProd ? this.searchCond.nacosProdFile : this.searchCond.nacosTestFile;
                let configName = isProd ? this.searchCond.prodConfigName : this.searchCond.testConfigName;
                return ret + '&user=' + encodeURIComponent(user) +
                    '&pwd=' + encodeURIComponent(pwd) +
                    '&nameSpace=' + encodeURIComponent(ns) +
                    '&dataId=' + encodeURIComponent(file) +
                    '&name=' + encodeURIComponent(configName);
            },
            loadTestNacosNs: function () {
                this.loadNacosNs(false);
            },
            loadProdNacosNs: function () {
                this.loadNacosNs(true);
            },
            loadNacosNs: function (isProd) {
                let url = $$BASE_URL + 'v1/nacos/namespaces?' + this.getPara(isProd, false);
                return axios.get(url).then(response => {
                    if (isProd) {
                        this.namespaceProdArr = response.data;
                        this.setByDefault('nacosProdNs', this.namespaceProdArr);
                    } else {
                        this.namespaceTestArr = response.data;
                        this.setByDefault('nacosTestNs', this.namespaceTestArr);
                    }
                    this.loadNacosFile(isProd);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            loadNacosFile: function (isProd) {
                this.init();

                let url = $$BASE_URL + 'v1/nacos/files?' + this.getPara(isProd, true);
                return axios.get(url).then(response => {
                    if (isProd) {
                        this.fileProdArr = response.data;
                        this.setByDefault('nacosProdFile', this.fileProdArr);
                    } else {
                        this.fileTestArr = response.data;
                        this.setByDefault('nacosTestFile', this.fileTestArr);
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },

            filterGenerateData: function () {
                return this.attData.filter(item => {
                    // 生成时不含忽略项
                    if (this.generateExceptIgnore && this.isIgnoreKeyByProj(item.key))
                        return false;

                    if (this.generateYmlType === 'all')
                        return true;

                    // 仅差异项时判断
                    if (item.test === item.prod)
                        return false;

                    let testVal = this.removeEnvStr(item.test);
                    return (item.test !== item.prod
                        && testVal !== item.prod
                        && testVal !== this.removeEnvStr(item.prod));
                });
            },
            doGenerateYml: function () {
                if (!this.attData || this.attData.length <= 0) {
                    return alert('请先对比');
                }
                let diffData = this.filterGenerateData();
                if (!diffData) {
                    return alert('未找到配置差异');
                }

                this.generateYmlShow = true;
                // 允许横向滚动条
                setTimeout(function () {
                    document.getElementsByTagName('textarea')[0].wrap = 'off';
                }, 100);

                if (!this.generateSplitYml) {
                    this.generateYml = this.generateLine(diffData);
                } else {
                    let jobj = {};
                    for (let i = 0, j = diffData.length; i < j; i++) {
                        let item = diffData[i];
                        let val = '';
                        if (this.generateYmlTarget === 'test') {
                            val = item.test;
                        } else {
                            val = item.prod;
                        }
                        this.generateJsonObj(jobj, item.key, val);
                    }
                    this.generateYml = this.generateYmlByJsonObj(jobj, '');
                }
                if (this.generateYml.indexOf('******') > 0) {
                    alert('包含被隐藏的密码，请勿直接使用');
                }
            },
            generateLine: function (diffData) {
                let ret = '';
                for (let i = 0, j = diffData.length; i < j; i++) {
                    let item = diffData[i];
                    ret += item.key + ': "';
                    if (this.generateYmlTarget === 'test') {
                        ret += item.test;
                    } else {
                        ret += item.prod;
                    }
                    ret += '"\n';
                }
                return ret;
            },
            // 拆分key，并插入jobj对象属性
            generateJsonObj: function (jobj, key, val) {
                let splitCh = '.';
                let idx = key.indexOf(splitCh);
                if (idx > 0) {
                    let leftKey = key.substring(0, idx);
                    key = key.substring(idx + 1);
                    if (!jobj.hasOwnProperty(leftKey)) {
                        jobj[leftKey] = {};
                    }
                    this.generateJsonObj(jobj[leftKey], key, val);
                } else {
                    jobj[key] = val;
                }
            },
            generateYmlByJsonObj: function (jobj, tab) {
                if (jobj === null || typeof (jobj) === 'string')
                    return '"' + jobj + '"';

                let ret = '';
                // if (tab.length > 0)
                //     ret += '\n';
                for (let att in jobj) {
                    if (jobj.hasOwnProperty(att)) {
                        ret += '\n' + tab + att + ': ' + this.generateYmlByJsonObj(jobj[att], tab + '  ');
                    }
                }
                return ret;
            },

            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            testNacosChange: function () {
                this.loadNacosFile(false);
            },
            prodNacosChange: function () {
                this.loadNacosFile(true);
            },
            testNacosFileChange: function (testFile) {
                this.init();

                if (!testFile)
                    return;
                testFile = testFile.replace('-dev.yml', '').replace('-test.yml', '');
                for (let i = 0, j = this.fileProdArr.length; i < j; i++) {
                    let item = this.fileProdArr[i];
                    if (item.indexOf(testFile) === 0) {
                        this.searchCond.nacosProdFile = item;
                        break;
                    }
                }
            },
            prodNacosFileChange: function () {
                this.init();
            },
            compareConfig: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        return;
                    }
                    if (!this.searchCond.nacosTestFile || !this.searchCond.nacosProdFile) {
                        alert('文件必选');
                        return;
                    }

                    this.loading = true;
                    this.init();
                    this.loadConfigs(false)
                        .then(this.loadIgnoreKeyByProj)
                        .then(() => {
                            this.loadConfigs(true).then(this.compareDo)
                        });
                });
            },
            // 打开编辑配置页
            openTest: function () {
                let url = this.searchCond.nacosTestIp
                    + '#/configeditor?serverId=center&dataId='
                    + this.searchCond.nacosTestFile
                    + '&group=DEFAULT_GROUP&namespace='
                    + this.searchCond.nacosTestNs
                    + '&edasAppName=&edasAppId=&searchDataId=&searchGroup=&pageSize=10&pageNo=1';
                window.open(url);
            },
            openProd: function () {
                let url = this.searchCond.nacosProdIp
                    + '#/configeditor?serverId=center&dataId='
                    + this.searchCond.nacosProdFile
                    + '&group=DEFAULT_GROUP&namespace='
                    + this.searchCond.nacosProdNs
                    + '&edasAppName=&edasAppId=&searchDataId=&searchGroup=&pageSize=10&pageNo=1';
                window.open(url);
            },
            // 展示忽略按钮的文字
            getBtnTxt: function (key) {
                if (this.isIgnoreKeyByProj(key))
                    return '恢复';
                return '忽略';
            },
            operateIgnoreKey: function (key) {
                if (this.isIgnoreKeyByProj(key))
                    return this.delIgnoreKey(key);
                return this.addIgnoreKey(key);
            },
            // 保存忽略的key
            addIgnoreKey: function (key) {
                let appNam = this.getCompareKey();
                Vue.set(this.ignoreKeyByProject[appNam], key, 1);
                let url = $$BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam) + '&key=' + encodeURIComponent(key);
                return axios.post(url).then((response) => {
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            // 移除已忽略的key，就是不忽略
            delIgnoreKey: function (key) {
                let appNam = this.getCompareKey();
                Vue.delete(this.ignoreKeyByProject[appNam], key);
                let url = $$BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam) + '&key=' + encodeURIComponent(key);
                return axios.delete(url).then((response) => {
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            restoreAllIgnore: function () {
                let msg = '当前源和目标，所有忽略差异项，都将重新提示，是否确认？';
                if (!confirm(msg)) {
                    return;
                }
                let appNam = this.getCompareKey();
                Vue.set(this.ignoreKeyByProject, appNam, {});
                let url = $$BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam) + '&key=all';
                return axios.delete(url).then((response) => {
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            // 加载当前项目忽略的key列表
            loadIgnoreKeyByProj: function () {
                let appNam = this.getCompareKey();
                if (this.ignoreKeyByProject[appNam]) {
                    return new Promise(resolve => {
                        resolve();
                    });
                }
                let url = $$BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam);
                return axios.get(url).then((response) => {
                    if (!response.data || response.data.length <= 0) {
                        Vue.set(this.ignoreKeyByProject, appNam, {});
                    } else {
                        let obj = {};
                        for (let i = 0, j = response.data.length; i < j; i++) {
                            let item = response.data[i].trim();
                            if (item.length <= 0)
                                continue;
                            obj[item] = 1;
                        }
                        Vue.set(this.ignoreKeyByProject, appNam, obj);
                    }
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            isIgnoreKeyGlobal: function (att) {
                if (this.ignoreKeys[att]) {
                    return true;
                }
                if (att.indexOf('logging.level.') === 0) {
                    return true; // 忽略 日志配置
                }
                return false;
            },
            isIgnoreKeyByProj: function (att) {
                let appNam = this.getCompareKey();
                if (this.ignoreKeyByProject[appNam] && this.ignoreKeyByProject[appNam][att]) {
                    return true;
                }
                return false;
            },
            getCompareKey: function () {
                let key = this.searchCond.nacosProdIp + '-' +
                    this.searchCond.nacosProdNs + '-' +
                    this.searchCond.nacosProdFile + '-' +
                    this.searchCond.nacosTestIp + '-' +
                    this.searchCond.nacosTestNs + '-' +
                    this.searchCond.nacosTestFile;
                return key;
            },
            loadConfigs: function (isProd) {
                let urlConfig = $$BASE_URL + 'v1/nacos/concfig?' + this.getPara(isProd, true);

                return axios.get(urlConfig).then(response => {
                    let resultData = {};
                    let txt = isProd ? '目标' : '源';
                    if (!response.data) {
                        return alert(txt + '环境配置加载有误');
                    }

                    for (let att in response.data) {
                        if (this.isIgnoreKeyGlobal(att)) {
                            continue;
                        }
                        if (resultData[att]) {
                            continue;// 以最前面的att为准
                        }
                        resultData[att] = response.data[att] + '';
                    }
                    // 为空也要比较
                    //if (!hasAnyProperty(resultData)) {
                    //    return alert(txt + '环境配置为空');
                    //}
                    if (isProd) {
                        this.configProd = resultData;
                    } else {
                        this.configTest = resultData;
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            compareDo: function () {
                if (!this.configProd) {
                    this.loading = false;
                    return alert('目标配置加载失败，请重试');
                }
                if (!this.configTest) {
                    this.loading = false;
                    return alert('源配置加载失败，请重试');
                }
                let loadedAtt = {};
                for (let att in this.configTest) {
                    loadedAtt[att] = 1;
                    let test = this.configTest[att];
                    let prod = this.configProd[att];
                    let row = {
                        key: att,
                        test: test === undefined ? '' : test,
                        prod: prod === undefined ? '' : prod,
                    };
                    this.attData.push(row);
                }
                for (let att in this.configProd) {
                    if (loadedAtt[att]) {
                        continue;
                    }
                    let test = this.configTest[att];
                    let prod = this.configProd[att];
                    let row = {
                        key: att,
                        test: test === undefined ? '' : test,
                        prod: prod === undefined ? '' : prod,
                    };
                    this.attData.push(row);
                }
                this.loading = false;
            },
            ajaxError: function (error) {
                window.ajaxError(error, vueApp);
            },
        },
    });
</script>
</body>
</html>