<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置对比</title>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">

        <el-form-item label="对比的源" style="font-weight: bold;">
            <el-form-item label="url">
                <input type="text" v-model="searchCond.nacosTestIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.nacosTestUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.nacosTestPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadTestNacosNs"></el-button>

            <el-form-item label="命名空间">
                <el-select v-model="searchCond.nacosTestNs" filterable placeholder="请选择命名空间"
                           @change="testNacosChange">
                    <el-option
                            v-for="item in namespaceTestArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select v-model="searchCond.nacosTestFile" filterable placeholder="请选择文件"
                           @change="testNacosFileChange">
                    <el-option
                            v-for="item in fileTestArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>

        <el-form-item label="对比目标" style="font-weight: bold;">
            <el-form-item label="url">
                <input type="text" v-model="searchCond.nacosProdIp" style="width:240px"/>
            </el-form-item>
            <el-form-item label="用户名">
                <input type="text" v-model="searchCond.nacosProdUser" style="width:60px"/>
            </el-form-item>
            <el-form-item label="密码">
                <input type="password" v-model="searchCond.nacosProdPwd" style="width:60px"/>
            </el-form-item>
            <el-button type="primary" icon="el-icon-refresh" circle @click="loadProdNacosNs"></el-button>

            <el-form-item label="命名空间">
                <el-select v-model="searchCond.nacosProdNs" filterable placeholder="请选择命名空间"
                           @change="prodNacosChange">
                    <el-option
                            v-for="item in namespaceProdArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select v-model="searchCond.nacosProdFile" filterable placeholder="请选择文件"
                           @change="prodNacosFileChange">
                    <el-option
                            v-for="item in fileProdArr"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form-item>
        <br>

        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="compareConfig('searchForm')">对 比</el-button>
            <el-checkbox v-model="searchCond.onlyDiff">只显示差异项</el-checkbox>
            <el-button icon="el-icon-refresh" @click="location.reload()">页面刷新</el-button>
        </el-form-item>
        <div>
            <span style="padding-left:20px;">共{{attData.length}}个配置项，{{filteredTableData.length}}个差异项</span>
            <span style="color:red;"></span>
        </div>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="filteredTableData"
              :header-row-class-name="'tableHeader'"
              style="width: 100%">
        <el-table-column
                prop="key"
                label="键名"
                width="420">
        </el-table-column>
        <el-table-column
                label="对比源"
                width="460">
            <template slot-scope="scope">
                <el-input v-model="scope.row.test"></el-input>
            </template>
        </el-table-column>
        <el-table-column
                label="对比目标"
                width="460">
            <template slot-scope="scope">
                <el-input v-model="scope.row.prod"></el-input>
            </template>
        </el-table-column>
        <el-table-column
                label="操作"
                width="300">
            <template slot-scope="scope">
                <el-button type="primary" @click="operateIgnoreKey(scope.row.key)">
                    {{getBtnTxt(scope.row.key)}}
                </el-button>
                <el-button type="primary" @click="openTest(scope.row.key)">去改源</el-button>
                <el-button type="primary" @click="openProd(scope.row.key)">改目标</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    const BASE_URL = '/' + location.pathname.split('/')[1] + '/'; // '/ops/';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            searchCond: {
                nacosTestIp: 'http://10.51.30.102/nacos/',
                nacosTestUser: 'nacos',
                nacosTestPwd: 'nacos',
                nacosTestNs: '',
                nacosTestFile: '',

                nacosProdIp: 'http://10.51.30.102/nacos/',
                nacosProdUser: 'nacos',
                nacosProdPwd: 'nacos',
                nacosProdNs: '',
                nacosProdFile: '',

                onlyDiff: true,
            },
            namespaceTestArr: [],   // 左边的命名空间列表
            namespaceProdArr: [],   // 右边的命名空间列表
            fileTestArr: [],        // 左边的配置文件列表
            fileProdArr: [],        // 右边的配置文件列表

            loading: false,
            configTest: {},         // 左边的配置明细
            configProd: {},         // 右边的配置明细
            attData: [],            // 左右合并的所有配置key和左值、右值列表
            ignoreKeys: {  // 不加载的key列表，不作对比和展示. 注：下面的“1”无具体意义
                'spring.datasource.url': 1,
                'spring.datasource.username': 1,
                'spring.datasource.password': 1,
                'spring.jpa.show_sql': 1,
                //'spring.jpa.hibernate.ddl-auto': 1,
                'spring.redis.host': 1,
                'spring.redis.port': 1,
                'spring.redis.database': 1,
                'spring.redis.password': 1,
                //'spring.redis.timeout': 1,
                'spring.rabbitmq.host': 1,
                'spring.rabbitmq.username': 1,
                'spring.rabbitmq.password': 1,
                'spring.rabbitmq.port': 1,
            },
            ignoreKeyByProject: {},// 每个项目要忽略的key列表

            defaultName: '',
        },
        created: function () {
            this.defaultName = getQueryString('name');
            if (!this.defaultName)
                this.defaultName = 'rpa-scheduler';

            if (this.searchCond.nacosTestIp)
                this.loadTestNacosNs();
            if (this.searchCond.nacosProdIp)
                this.loadProdNacosNs();
        },
        computed: {
            filteredTableData: function () {
                if (this.searchCond.onlyDiff) {
                    // 过滤掉不相等的项，也过滤掉只有环境差异的url
                    return this.attData.filter(item => {
                        if (this.isIgnoreKeyByProj(item.key))
                            return false;
                        if (item.test === item.prod)
                            return false;
                        let testVal = this.removeEnvStr(item.test);
                        return (item.test !== item.prod
                            && testVal !== item.prod
                            && testVal !== this.removeEnvStr(item.prod));
                    });
                }
                return this.attData;
            }
        },
        methods: {
            init: function () {
                this.configTest = {};
                this.configProd = {};
                this.attData = [];
            },
            removeEnvStr: function (str) {
                return str.replace(/dev/g, '')
                    .replace(/test/g, '')
                    .replace(/pre/g, '')
                    .replace(/prod/g, '');
            },
            getPara: function (isProd, full) {
                let ip = isProd ? this.searchCond.nacosProdIp : this.searchCond.nacosTestIp;
                if (!ip)
                    return '';
                if (!ip.endsWith('/')) {
                    ip += '/';
                    if (isProd)
                        this.searchCond.nacosProdIp = ip;
                    else
                        this.searchCond.nacosTestIp = ip;
                }
                let ret = 'url=' + encodeURIComponent(ip);
                if (!full)
                    return ret;
                let ns = isProd ? this.searchCond.nacosProdNs : this.searchCond.nacosTestNs;
                let user = isProd ? this.searchCond.nacosProdUser : this.searchCond.nacosTestUser;
                let pwd = isProd ? this.searchCond.nacosProdPwd : this.searchCond.nacosTestPwd;
                let file = isProd ? this.searchCond.nacosProdFile : this.searchCond.nacosTestFile;
                return ret + '&user=' + encodeURIComponent(user) +
                    '&pwd=' + encodeURIComponent(pwd) +
                    '&nameSpace=' + encodeURIComponent(ns) +
                    '&dataId=' + encodeURIComponent(file);
            },
            loadTestNacosNs: function () {
                this.loadNacosNs(false).then(() => {
                    return this.loadNacosFile(false)
                });
            },
            loadProdNacosNs: function () {
                this.loadNacosNs(true).then(() => {
                    return this.loadNacosFile(true)
                });
            },
            loadNacosNs: function (isProd) {
                let url = BASE_URL + 'v1/nacos/namespaces?' + this.getPara(isProd, false);
                return axios.get(url).then(response => {
                    if (isProd) {
                        this.namespaceProdArr = response.data;
                        this.setByDefault('nacosProdNs', this.namespaceProdArr);
                    } else {
                        this.namespaceTestArr = response.data;
                        this.setByDefault('nacosTestNs', this.namespaceTestArr);
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            loadNacosFile: function (isProd) {
                this.init();

                let url = BASE_URL + 'v1/nacos/files?' + this.getPara(isProd, true);
                return axios.get(url).then(response => {
                    if (isProd) {
                        this.fileProdArr = response.data;
                        this.setByDefault('nacosProdFile', this.fileProdArr);
                    } else {
                        this.fileTestArr = response.data;
                        this.setByDefault('nacosTestFile', this.fileTestArr);
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            setByDefault: function (prop, arr) {
                if (arr.length <= 0) {
                    this.searchCond[prop] = '';
                    return;
                }
                if (this.defaultName) {
                    for (let i = 0, j = arr.length; i < j; i++) {
                        if (arr[i].indexOf(this.defaultName) >= 0) {
                            this.searchCond[prop] = arr[i];
                            return;
                        }
                    }
                }
                this.searchCond[prop] = arr[0];
            },
            testNacosChange: function () {
                this.loadNacosFile(false);
            },
            prodNacosChange: function () {
                this.loadNacosFile(true);
            },
            testNacosFileChange: function (testFile) {
                this.init();

                if (!testFile)
                    return;
                testFile = testFile.replace('-dev.yml', '').replace('-test.yml', '');
                for (let i = 0, j = this.fileProdArr.length; i < j; i++) {
                    let item = this.fileProdArr[i];
                    if (item.indexOf(testFile) === 0) {
                        this.searchCond.nacosProdFile = item;
                        break;
                    }
                }
            },
            prodNacosFileChange: function () {
                this.init();
            },
            compareConfig: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        return;
                    }
                    if (!this.searchCond.nacosTestFile || !this.searchCond.nacosProdFile) {
                        alert('文件必选');
                        return;
                    }

                    this.loading = true;
                    this.init();
                    this.loadConfigs(false)
                        .then(this.loadIgnoreKeyByProj)
                        .then(() => {
                            this.loadConfigs(true).then(this.compareDo)
                        });
                });
            },
            // 打开编辑配置页
            openTest: function () {
                let url = this.searchCond.nacosTestIp
                    + '#/configeditor?serverId=center&dataId='
                    + this.searchCond.nacosTestFile
                    + '&group=DEFAULT_GROUP&namespace='
                    + this.searchCond.nacosTestNs
                    + '&edasAppName=&edasAppId=&searchDataId=&searchGroup=&pageSize=10&pageNo=1';
                window.open(url);
            },
            openProd: function () {
                let url = this.searchCond.nacosProdIp
                    + '#/configeditor?serverId=center&dataId='
                    + this.searchCond.nacosProdFile
                    + '&group=DEFAULT_GROUP&namespace='
                    + this.searchCond.nacosProdNs
                    + '&edasAppName=&edasAppId=&searchDataId=&searchGroup=&pageSize=10&pageNo=1';
                window.open(url);
            },
            // 展示忽略按钮的文字
            getBtnTxt: function (key) {
                if (this.isIgnoreKeyByProj(key))
                    return '恢复';
                return '忽略';
            },
            operateIgnoreKey: function (key) {
                if (this.isIgnoreKeyByProj(key))
                    return this.delIgnoreKey(key);
                return this.addIgnoreKey(key);
            },
            // 保存忽略的key
            addIgnoreKey: function (key) {
                let appNam = this.getCompareKey();
                Vue.set(this.ignoreKeyByProject[appNam], key, 1);
                let url = BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam) + '&key=' + encodeURIComponent(key);
                return axios.post(url).then((response) => {
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            // 移除已忽略的key，就是不忽略了
            delIgnoreKey: function (key) {
                let appNam = this.getCompareKey();
                Vue.delete(this.ignoreKeyByProject[appNam], key);
                let url = BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam) + '&key=' + encodeURIComponent(key);
                return axios.delete(url).then((response) => {
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            // 加载当前项目忽略的key列表
            loadIgnoreKeyByProj: function () {
                let appNam = this.getCompareKey();
                if (this.ignoreKeyByProject[appNam]) {
                    return new Promise(resolve => {
                        resolve();
                    });
                }
                let url = BASE_URL + 'v1/nacos/ignore?app=' + encodeURIComponent(appNam);
                return axios.get(url).then((response) => {
                    if (!response.data || response.data.length <= 0) {
                        Vue.set(this.ignoreKeyByProject, appNam, {});
                    } else {
                        let obj = {};
                        for (let i = 0, j = response.data.length; i < j; i++) {
                            let item = response.data[i].trim();
                            if (item.length <= 0)
                                continue;
                            obj[item] = 1;
                        }
                        Vue.set(this.ignoreKeyByProject, appNam, obj);
                    }
                }).catch((error) => {
                    this.ajaxError(error);
                });
            },
            isIgnoreKeyGlobal: function (att) {
                if (this.ignoreKeys[att]) {
                    return true;
                }
                if (att.indexOf('logging.level.') === 0) {
                    return true; // 忽略 日志配置
                }
                return false;
            },
            isIgnoreKeyByProj: function (att) {
                let appNam = this.getCompareKey();
                if (this.ignoreKeyByProject[appNam] && this.ignoreKeyByProject[appNam][att]) {
                    return true;
                }
                return false;
            },
            getCompareKey: function () {
                let key = this.searchCond.nacosProdIp + '-' +
                    this.searchCond.nacosProdNs + '-' +
                    this.searchCond.nacosProdFile + '-' +
                    this.searchCond.nacosTestIp + '-' +
                    this.searchCond.nacosTestNs + '-' +
                    this.searchCond.nacosTestFile;
                return key;
            },
            loadConfigs: function (isProd) {
                let urlConfig = BASE_URL + 'v1/nacos/concfig?' + this.getPara(isProd, true);

                return axios.get(urlConfig).then(response => {
                    let resultData = {};
                    let txt = isProd ? '目标' : '源';
                    if (!response.data) {
                        return alert(txt + '环境配置加载有误');
                    }

                    for (let att in response.data) {
                        if (this.isIgnoreKeyGlobal(att)) {
                            continue;
                        }
                        if (resultData[att]) {
                            continue;// 以最前面的att为准
                        }
                        resultData[att] = response.data[att] + '';
                    }
                    // 为空也要比较
                    //if (!hasAnyProperty(resultData)) {
                    //    return alert(txt + '环境配置为空');
                    //}
                    if (isProd) {
                        this.configProd = resultData;
                    } else {
                        this.configTest = resultData;
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            compareDo: function () {
                if (!this.configProd) {
                    this.loading = false;
                    return alert('目标配置加载失败，请重试');
                }
                if (!this.configTest) {
                    this.loading = false;
                    return alert('源配置加载失败，请重试');
                }
                let loadedAtt = {};
                for (let att in this.configTest) {
                    loadedAtt[att] = 1;
                    let test = this.configTest[att];
                    let prod = this.configProd[att];
                    let row = {
                        key: att,
                        test: test === undefined ? '' : test,
                        prod: prod === undefined ? '' : prod,
                    };
                    this.attData.push(row);
                }
                for (let att in this.configProd) {
                    if (loadedAtt[att]) {
                        continue;
                    }
                    let test = this.configTest[att];
                    let prod = this.configProd[att];
                    let row = {
                        key: att,
                        test: test === undefined ? '' : test,
                        prod: prod === undefined ? '' : prod,
                    };
                    this.attData.push(row);
                }
                this.loading = false;
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['error'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    if (msg === 'Internal Server Error') {
                        alert('获取失败，可能是没权限');
                    } else {
                        alert(msg);
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }

</script>
</body>
</html>