<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代码生成器</title>
    <script src="../static/common.js?v=1"></script>
    <script src="../static/vue.min.js"></script>
    <script src="../static/axios.min.js"></script>
    <script src="../static/rowColor.js"></script>
    <script src="../static/qs.min.js"></script>
    <script src="../static/elemeIndex.js"></script>
    <link rel="stylesheet" href="../static/elemeIndex.css">
    <style>
        .tabs { /* tab选项卡外围 */
            width: 95%;
            height: 20px;
            padding: 0;
        }

        .li-tab { /* tab的每个选项卡 */
            width: 120px;
            height: 20px;
            display: inline-block;
            text-align: center;
            float: left;
            border: 1px solid white;
            background-color: gray;
            cursor: pointer;
        }

        .active { /* tab活动选项卡 */
            background-color: #99ffff !important;
        }

        .divTab { /* tab内容 */
            width: 95%;
        }
    </style>
</head>
<body>

<div id="divApp">
    <div class="tab-content">
        <div>
            <el-form :model="searchCond" ref="searchForm" :inline="true" class="demo-form-inline"
                     style="text-align: left">
                <el-form-item label="数据库连接信息" style="font-weight: bold;">
                    <el-select v-model="selectDbName" filterable placeholder="请选择环境" @change="dbSelected">
                        <el-option
                                v-for="item in sqlConns"
                                :key="item.configName"
                                :label="item.configName"
                                :value="item.configName">
                        </el-option>
                    </el-select>
                    <el-form-item label="IP">
                        <input type="text" v-model="searchCond.dbTestIp" style="width:240px" :readonly="!isCustom"/>
                    </el-form-item>
                    <el-form-item label="用户名">
                        <input type="text" v-model="searchCond.dbTestUser" style="width:60px"
                               :readonly="!isCustom"/>
                    </el-form-item>
                    <el-form-item label="密码">
                        <input type="password" v-model="searchCond.dbTestPwd" style="width:60px"
                               :readonly="!isCustom"/>
                    </el-form-item>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <div style="float: left;">
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right">数据库：</span>
                    <span style="display: inline-block;width:200px;">
                        <el-select v-model="searchCond.dbTestName" filterable placeholder="请选择数据库"
                                   @change="dbChange">
                            <el-option
                                    v-for="item in dbsTest"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </span>
                    <el-button type="primary" icon="el-icon-refresh" circle @click="loadDbs"></el-button>
                    <span style="display: inline-block;width:110px; text-align: right">表(多选)：</span>
                    <div style="width: 200px; display: inline-block;">
                        <el-select v-model="searchCond.tables" filterable placeholder="请选择表" multiple
                                   @change="tableChange">
                            <el-option
                                    v-for="item in tableList"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right">代码包名：</span>
                    <span style="display: inline-block;width:560px;">
                        <el-input v-model="codeCond.packageName" placeholder="请输入"/>
                    </span>
                </div>
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right;font-size: 10px">ResponseData包名：</span>
                    <span style="display: inline-block;width:560px;">
                        <el-input v-model="codeCond.packageResponseData" placeholder="为空时，自动使用上面的代码包名"/>
                    </span>
                </div>
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right">表前缀移除：</span>
                    <span style="display: inline-block;width:110px; ">
                        <el-input v-model="codeCond.removePrefix" placeholder="请输入"/>
                    </span>
                    <span style="color:blue;">生成的entity类名，不包含这个前缀</span>
                </div>
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right">代码生成：</span>
                    <span style="display: inline-block;width:120px; ">
                        <el-tooltip class="item" effect="dark" placement="top-start">
                              <div slot="content">
                                  选中时，生成的RestController类和html前台文件<br>
                                  会包含新增、更新、删除的代码
                              </div>
                            <el-checkbox v-model="codeCond.modify">含增删改代码</el-checkbox>
                        </el-tooltip>
                    </span>
                    <span style="display: inline-block;width:140px; ">
                        <el-tooltip class="item" effect="dark" placement="top-start">
                              <div slot="content">
                                  选中时，会生成FeignClient类，<br>
                                  生成的RestController会继承于该FeignClient类<br>
                                  该FeignClient类可以给其它模块，或其它团队使用
                              </div>
                            <el-checkbox v-model="codeCond.feignSdk">含feign-SDK代码</el-checkbox>
                        </el-tooltip>
                    </span>
                    <span style="display: inline-block;width:140px; ">
                        <el-tooltip class="item" effect="dark" placement="top-start">
                              <div slot="content">
                                  选中时，如果Entity类包含LocalDateTime字段，<br>
                                  对应的Dto类会转换为Long类型的时间戳
                              </div>
                            <el-checkbox v-model="codeCond.dtoUseTs">DTO使用时间戳</el-checkbox>
                        </el-tooltip>
                    </span>
                    <span style="display: inline-block;width:210px; ">
                        <el-radio-group v-model="codeCond.jdkVer">
<!--                            <el-radio label="8">JDK8</el-radio>-->
                            <el-radio label="21">JDK21</el-radio>
                        </el-radio-group>
                    </span>
                </div>
                <div style="text-align: center; vertical-align: bottom; margin-top: 10px;">
                    <button v-show="false" @click="generateCodeJpa">生成JPA文件</button>
                    <el-button type="primary" @click="generateMybatisCodePreview" size="medium" icon="el-icon-view">
                        预览MybatisPlus文件
                    </el-button>
                    <el-button type="primary" @click="generateMybatisCode" size="medium" icon="el-icon-download">
                        下载MybatisPlus文件
                    </el-button>
                    <a v-show="codeLink" :href="codeLink">如未自动下载，点这里</a>
                    <el-button @click="location.reload()" size="medium" icon="el-icon-refresh">
                        刷新
                    </el-button>
                </div>
                <div v-show="codeDesc" style="color:red;text-align: center; vertical-align: bottom; margin-top: 10px;">
                    {{codeDesc}}
                </div>
            </div>
            <div style="float: left;  padding-left: 10px;">
                <div style="margin-top: 10px;">
                    <span style="display: inline-block;width:110px; text-align: right; vertical-align: top;">文件名进行部分替换：</span>
                    <span style="display: inline-block;width:560px;">
                        <div><el-input v-model="codeCond.oldForReplace" placeholder="请输入"/></div>
                        <div><el-input v-model="codeCond.newForReplace" placeholder="请输入"/></div>
                        <div>注：类名也会同步替换，比如把 networkobj 替换为 networkObj</div>
                    </span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <hr>
        <el-tabs v-model="activeTabName" type="border-card" @tab-click="handleClick">
            <el-tab-pane label="表字段预览" name="fieldsView">
                <div v-if="searchCond.tables.length && codeCond.columnArr.length">
                    共{{searchCond.tables.length}}张表，{{codeCond.columnArr.length}}个字段
                </div>
                <el-table
                        :data="codeCond.columnArr"
                        border
                        stripe
                        style="width: 100%">
                    <el-table-column :label="key" :width="flexColumnWidth(key, codeCond.columnArr)"
                                     v-for="(value, key, index) in codeCond.columnArr[0]"
                                     sortable>
                        <template slot-scope="scope">
                            {{scope.row[key]}}
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>

            <el-tab-pane v-for="(item, idx) in codeFiles" :label="item.fileName" :name="item.fileName">
                <el-input type="textarea" :autosize="{ minRows: 6}" v-model="item.content"/>
            </el-tab-pane>
        </el-tabs>
    </div>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            activeTabName: 'fieldsView',
            selectDbName: '', // 默认选中的数据库实例
            sqlConns: [
                // {  // 要求数据结构如下
                //     configName: '生产-1',
                //     dbTestIp: '10.0.0.1',
                //     dbTestUser: 'readonly',
                //     dbTestPwd: '123456',
                //     dbTestName: '',
                // }
            ],

            searchCond: {
                configName: '',
                dbTestIp: '',
                dbTestUser: '',
                dbTestPwd: '',
                dbTestName: '',
                sql: '',
                tables: [],
            },
            dbsTest: {},
            tableList: [],

            codeCond: {
                packageName: '',
                packageResponseData: 'com.zixun.agentbase.core.base.dto',
                removePrefix: 't_cb_',
                modify: true,
                feignSdk: true,
                dtoUseTs: true,
                jdkVer: '21',
                columnArr: [],
                oldForReplace: '旧文件名1;旧文件名2',
                newForReplace: '新文件名1;新文件名2',
            },
            databaseArr: [], // 用于下拉列表

            codeFiles: [],

            codeLink: '',
            codeGenerateTime: '',
            codeDesc: '',
        },
        computed: {
            isCustom: function () {
                return this.selectDbName === '' || this.selectDbName === '自定义';
            }
        },
        created: function () {
            this.loadConnections().then(() => {
                this.dbSelected();
            });
        },
        methods: {
            handleClick: function (tab, event) {
                console.log(tab, event);
            },
            loadConnections: function () {
                let url = $$BASE_URL + 'linkinfo/list?type=mysql';
                return axios.get(url).then(response => {
                    if (!response.data || !response.data.length) {
                        return alert('出错:' + response.data.errMsg);
                    }
                    for (let i = 0, j = response.data.length; i < j; i++) {
                        let item = response.data[i];
                        this.sqlConns.push({
                            configName: item.name,
                            dbTestIp: item.address,
                            dbTestUser: item.account,
                            dbTestPwd: '123456',
                            dbTestName: '',
                        });
                    }
                    this.sqlConns.push({
                        configName: '自定义',
                        dbTestIp: '',
                        dbTestUser: '',
                        dbTestPwd: '',
                        dbTestName: '',
                    });
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            dbSelected: function () {
                if (!this.selectDbName && this.sqlConns.length) {
                    this.selectDbName = this.sqlConns[0].configName;
                }
                for (let i = 0, j = this.sqlConns.length; i < j; i++) {
                    if (this.sqlConns[i].configName === this.selectDbName) {
                        this.copyAtts(this.sqlConns[i]);
                        if (this.searchCond.configName === '自定义')
                            return;
                        this.loadDbs();
                        break;
                    }
                }
            },
            copyAtts: function (sqlConn) {
                // 修复sql无法设置或只读的bug
                for (const prop in sqlConn) {
                    Vue.set(this.searchCond, prop, sqlConn[prop]);
                }
            },
            dbChange: function () {
                this.searchCond.tables = [];
                this.loadTables();
            },
            loadDbs: function () {
                this.dbsTest = {};
                let currentIp = this.searchCond.dbTestIp;
                let url = $$BASE_URL + 'mysql/databases?' + this.combineDbPara();
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert(currentIp + '出错:\n' + response.data.errMsg);
                    }
                    this.dbsTest = response.data;
                    if (this.dbsTest.length > 0) {
                        this.searchCond.dbTestName = this.dbsTest[0];
                        this.loadTables();
                    }
                }).catch(error => {
                    this.ajaxError(error);
                });
            },

            combineDbPara: function () {
                if (!this.searchCond.dbTestIp || !this.searchCond.dbTestUser || !this.searchCond.dbTestPwd) {
                    alert('请输入数据库IP/用户/密码');
                    throw new Error('请输入数据库IP/用户/密码');
                }
                return 'ip=' + this.searchCond.dbTestIp +
                    '&user=' + encodeURIComponent(this.searchCond.dbTestUser) +
                    '&pwd=' + encodeURIComponent(this.searchCond.dbTestPwd) +
                    '&name=' + encodeURIComponent(this.searchCond.configName) +
                    '&db=' + encodeURIComponent(this.searchCond.dbTestName);
            },
            loadTables: function () {
                if (!this.searchCond.dbTestName)
                    return;
                this.tableList = [];
                let url = $$BASE_URL + 'mysql/tableNames?' + this.combineDbPara();
                return axios.get(url).then(response => {
                    this.tableList = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            tableChange: function () {
                this.loadColumns();

                let tbs = this.searchCond.tables.join(';');
                this.codeCond.oldForReplace = tbs;
                this.codeCond.newForReplace = tbs;
            },
            loadColumns: function () {
                this.codeFiles = [];
                this.codeCond.columnArr = [];
                let url = $$BASE_URL + 'mysql/columns?' + this.combineDbPara();
                url += '&tableName=' + this.searchCond.tables.join(',');
                axios.get(url).then((response) => {
                    if (!response.data || response.data.length <= 0) {
                        alert('该数据库，没有找到字段.');
                        return;
                    }
                    this.codeCond.columnArr = response.data;
                }).catch(function (error) {
                    this.ajaxError(error);
                });
            },
            initAndCheck: function () {
                this.codeLink = '';
                this.codeGenerateTime = '';
                this.codeDesc = '';

                this.codeCond.packageName = this.codeCond.packageName
                    .replaceAll(/[\s;]/g, '')
                    .replaceAll(/\.+$/g, '');
                if (!this.codeCond.packageName) {
                    alert('请输入包名');
                    return false;
                }
                if (!this.codeCond.columnArr || this.codeCond.columnArr.length === 0) {
                    alert('请选择库和表');
                    return false;
                }
                if (this.codeCond.oldForReplace && this.codeCond.newForReplace) {
                    if (this.codeCond.oldForReplace === this.codeCond.newForReplace) {
                        // 清空避免替换
                    } else {
                        let regex = /[,;\s]/;
                        let oldArr = this.splitStr(this.codeCond.oldForReplace);
                        let newArr = this.splitStr(this.codeCond.newForReplace);
                        if (oldArr.length !== newArr.length) {
                            alert('文件名替换，前后项的数量不一致');
                            return false;
                        }
                    }
                }
                return true;
            },
            splitStr: function (str) {
                return str.split(/[ ,;]/)
                    .map(item => item.trim())
                    .filter(item => item !== "");
            },
            generateCodeJpa: function () {
                if (!this.initAndCheck())
                    return;
                // 用Qs库，避免 tables[0]这种传输语法
                let url = $$BASE_URL + 'v1/code/tables?';// + Qs.stringify(this.codeCond, {arrayFormat: 'repeat'});
                axios.post(url, this.codeCond).then((response) => {
                    this.codeGenerateTime = (new Date()).toString();
                    this.codeLink = $$BASE_URL + 'v1/code/down?zipfile=' + response.data;
                    window.open(this.codeLink);
                }).catch(function (error) {
                    this.ajaxError(error);
                });
            },
            generateMybatisCodePreview: function () {
                if (!this.initAndCheck())
                    return;
                let url = $$BASE_URL + 'codeMybatis/generatePreview';
                axios.post(url, this.codeCond).then((response) => {
                    if (!response.data || response.data.code) {
                        return alert(getErrorMsg(response));
                    }
                    this.codeFiles = response.data;
                    this.codeGenerateTime = (new Date()).toString();
                    this.codeDesc = '注意：请在main函数类上添加注解：@MapperScan({"' + this.codeCond.packageName + '.dao.**"})';
                }).catch(function (error) {
                    this.ajaxError(error);
                });
            },
            generateMybatisCode: function () {
                if (!this.initAndCheck())
                    return;
                // 用Qs库，避免 tables[0]这种传输语法
                let url = $$BASE_URL + 'codeMybatis/generateAndZip?';// + Qs.stringify(this.codeCond, {arrayFormat: 'repeat'});
                axios.post(url, this.codeCond).then((response) => {
                    if (!response.data || response.data.code) {
                        return alert(getErrorMsg(response));
                    }
                    this.codeGenerateTime = (new Date()).toString();
                    this.codeLink = $$BASE_URL + 'v1/code/down?zipfile=' + response.data;
                    window.open(this.codeLink);
                    this.codeDesc = '注意：请在main函数类上添加注解：@MapperScan({"' + this.codeCond.packageName + '.dao.**"})';
                }).catch(function (error) {
                    this.ajaxError(error);
                });
            },
            // 自适应表格列宽
            flexColumnWidth: function (str, tableData, flag = 'max', charWidth = 12, miniWidth = 50) {
                // str为该列的字段名(传字符串);tableData为该表格的数据源(传变量);
                // flag为可选值，可不传该参数,传参时可选'max'或'equal',默认为'max'
                // flag为'max'则设置列宽适配该列中最长的内容,flag为'equal'则设置列宽适配该列中第一行内容的长度。

                //if (!tableData || !tableData.length || tableData.length === 0) {
                //    return
                //}
                str = str + '';
                if (str.length === 0)
                    return '0';
                // 例外项，自定义代码
                if (str === 'extInfo')
                    return '450px';

                let columnContent = '';
                if (flag === 'equal') {
                    // 获取该列中第一个不为空的数据(内容)
                    for (let i = 0, j = tableData.length; i < j; i++) {
                        columnContent = tableData[i][str] + '';
                        if (columnContent.length > 0) {
                            break;
                        }
                    }
                } else {
                    // 获取该列中最长的数据(内容)
                    for (let i = 0, j = tableData.length; i < j; i++) {
                        let tmp = tableData[i][str] + '';
                        if (tmp.length > columnContent.length) {
                            columnContent = tmp;
                        }
                    }
                }
                // 跟标题比对
                let isHead = columnContent.length < str.length;
                if (isHead)
                    columnContent = str;
                //console.log('该列数据:' + str + ':' + columnContent)

                // 以下分配的单位长度可根据实际需求进行调整
                let flexWidth = isHead ? charWidth : 0;
                for (const char of columnContent) {
                    let useChWidth = charWidth;
                    if (char >= '\u4e00' && char <= '\u9fa5') {
                        // 中文字符分配宽度
                        useChWidth = useChWidth * 2;
                    }
                    flexWidth += useChWidth;
                }
                if (flexWidth < miniWidth) {
                    // 设置最小宽度
                    flexWidth = miniWidth;
                }
                //console.log('该列宽度:' + str + ':' + flexWidth)
                return flexWidth + 'px';
            },
            ajaxError: function (error) {
                window.ajaxError(error, vueApp);
            },
        },
    });
</script>
</body>
</html>