<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据清理配置</title>
    <script src="../static/common.js?v=1"></script>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .mainTableRow {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-button type="primary" icon="el-icon-save" @click="showEditMainDialog()">新增实例</el-button>
        <el-button icon="el-icon-refresh" @click="location.reload()">刷新</el-button>
        <span style="padding-left:20px;"
              v-show="resultData.length">请求耗时: {{costTime}}ms, 记录数: {{resultData.length}}</span>
    </el-form>
    <br>
    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              height="1200"
              :data="resultData"
              :default-expand-all="false"
              :row-class-name="'mainTableRow'"
              :header-row-class-name="'tableHeader'">
        <!-- 序号列 -->
        <!--        <el-table-column align="center" label="序号" type="index" width="80"></el-table-column>-->
        <!-- 展开详情的列 -->
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-table border :data="props.row.tableList">
                    <el-table-column label="说明" prop="title" width="210"></el-table-column>
                    <el-table-column label="表名" sortable width="180">
                        <template slot-scope="scope">
                            {{scope.row.tableName}}
                        </template>
                    </el-table-column>
                    <el-table-column label="状态" width="60">
                        <template slot-scope="scope">
                            <div v-if="scope.row.enabled" style="color: green;font-weight:bold">启用</div>
                            <div v-if="!scope.row.enabled" style="color: red;">停止</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="时间字段" prop="timeField" width="100"></el-table-column>
                    <el-table-column label="强制索引" prop="forceIndexName" width="100"></el-table-column>
                    <el-table-column label="主键" prop="keyField" width="50"></el-table-column>
                    <el-table-column label="其它条件" prop="otherCondition" width="120"></el-table-column>
                    <el-table-column label="保留天" prop="keepDays" width="65"></el-table-column>
                    <el-table-column label="运行时段" prop="runHours" width="100"></el-table-column>
                    <el-table-column label="备份" width="50">
                        <template slot-scope="scope">
                            {{scope.row.needBackup?'是':'否'}}
                        </template>
                    </el-table-column>
                    <el-table-column label="分区数" prop="partitionNum" width="65"></el-table-column>
                    <el-table-column label="创建时间" prop="createTime" width="175"></el-table-column>
                    <el-table-column label="更新时间" prop="updateTime" width="175"></el-table-column>
                    <el-table-column>
                        <template slot-scope="scope">
                            <el-button @click="changeTableStatus(scope.row)" size="mini">{{scope.row.enabled?'停止':'启用'}}
                            </el-button>
                            <el-button @click="showEditTableDialog(scope.row)" size="mini">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </el-table-column>

        <el-table-column label="ID" property="id" width="70"></el-table-column>
        <el-table-column label="连接" sortable width="520">
            <template slot-scope="scope">
                <div v-html="getConnectionById(scope.row.linkWriteId)"></div>
            </template>
        </el-table-column>
        <el-table-column label="数据库" width="350">
            <template slot-scope="scope">
                <div>待清理:{{scope.row.db}}</div>
                <div>备份到:{{scope.row.backDb}}</div>
            </template>
        </el-table-column>
        <el-table-column label="状态" width="80">
            <template slot-scope="scope">
                <div v-if="scope.row.enabled" style="color: green;font-weight:bold">启用</div>
                <div v-if="!scope.row.enabled" style="color: red;">停止</div>
                <div>{{scope.row.tableList.length}}张表</div>
            </template>
        </el-table-column>
        <el-table-column label="创建/更新时间" width="250">
            <template slot-scope="scope">
                <div>{{scope.row.createTime}}</div>
                <div>{{scope.row.updateTime}}</div>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button @click="changeStatus(scope.row)" size="mini">{{scope.row.enabled?'停止':'启用'}}</el-button>
                <el-button @click="showEditMainDialog(scope.row)" size="mini">编辑</el-button>
                <el-button @click="showEditTableDialog(scope.row.id)" size="mini">新增表清理</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog :title="(editData.id?'编辑':'新增')+'主任务'" :visible.sync="editDialogShow"
               :close-on-press-escape="true"
               :close-on-click-modal="false">
        <div>
            <el-form :model="editData" ref="editForm">
                <el-form-item label="开关">
                    <el-checkbox v-model="editData.enabled">启用</el-checkbox>
                </el-form-item>
                <el-form-item label="可写数据库实例">
                    <el-select v-model="editData.linkWriteId" filterable placeholder="请选择">
                        <el-option
                                v-for="item in sqlConns"
                                :key="item.id"
                                :label="getConnectionStr(item)"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="只读数据库实例">
                    <el-select v-model="editData.linkReadId" filterable placeholder="请选择">
                        <el-option
                                v-for="item in sqlConns"
                                :key="item.id"
                                :label="getConnectionStr(item)"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="待清理数据库">
                    <el-input v-model="editData.db" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="清理前备份到哪里">
                    <el-input v-model="editData.backDb" placeholder="请输入"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button type="primary" @click="saveData('editForm')">保存</el-button>
        </div>
    </el-dialog>

    <el-dialog :title="'清理表' + (editTableData.id?'编辑':'新增')" :visible.sync="editTableDialogShow"
               :close-on-press-escape="true"
               :close-on-click-modal="false">
        <div>
            <el-form :model="editTableData" ref="editTableForm">
                <el-form-item label="开关">
                    <el-checkbox v-model="editTableData.enabled">启用</el-checkbox>
                    <el-checkbox v-model="editTableData.needBackup">备份</el-checkbox>
                </el-form-item>
                <el-form-item label="说明">
                    <el-input v-model="editTableData.title" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="待清理表">
                    <el-input v-model="editTableData.tableName" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="表的主键字段名">
                    <el-input v-model="editTableData.keyField" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="表的时间字段">
                    <el-input v-model="editTableData.timeField" placeholder="请输入"></el-input>
                    注：通过该字段筛选要删除的数据
                </el-form-item>
                <el-form-item label="强制索引名">
                    <el-input v-model="editTableData.forceIndexName" placeholder="请输入"></el-input>
                    注：可空，通常为时间字段对应的索引
                </el-form-item>
                <el-form-item label="删除的其它条件">
                    <el-input v-model="editTableData.otherCondition" placeholder="请输入"></el-input>
                    注：有些数据过期，但是又要保留时，可以增加删除条件
                </el-form-item>
                <el-form-item label="保留天数">
                    <el-input v-model="editTableData.keepDays" placeholder="请输入"></el-input>
                    注：超过这个天数的数据，会被删除
                </el-form-item>
                <el-form-item label="清理时段">
                    <el-input v-model="editTableData.runHours" placeholder="请输入"></el-input>
                    注：执行清理的小时范围，[0,4-10,15-23] 表示0点，4点到10点，15到23点; 为空表示0-23
                </el-form-item>
                <el-form-item label="分区个数">
                    <el-input v-model="editTableData.partitionNum" placeholder="请输入"></el-input>
                    注：如果是分区表，可以填写，提升清理效率，不是分区表填写1
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button type="primary" @click="saveTableData('editTableForm')">保存</el-button>
        </div>
    </el-dialog>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loginuser: '',
            loading: false,
            sqlConns: [],

            editDialogShow: false,
            editData: {},
            editTableDialogShow: false,
            editTableData: {},

            costTime: 0,
            resultData: [],
        },
        created: function () {
            this.getLoginUser();
            this.loadConnections().then(this.getDataList);
        },
        computed: {},
        methods: {
            handleTabClick: function (tab, event) {
            },
            getLoginUser: function () {
                let url = $$BASE_URL + 'currentuser';
                return axios.get(url).then(response => {
                    this.loginuser = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            loadConnections: function () {
                let url = $$BASE_URL + 'linkinfo/list?type=mysql';
                return axios.get(url).then(response => {
                    if (!response.data || !response.data.length) {
                        return alert('取连接出错:' + response.data.errMsg);
                    }
                    this.sqlConns = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getDataList: function () {
                let url = $$BASE_URL + 'dataClean';
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert('出错:\n' + response.data.errMsg);
                    }
                    this.resultData = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getConnectionById: function (linkId) {
                let conn = null;
                for (let i = 0, j = this.sqlConns.length; i < j; i++) {
                    if (this.sqlConns[i].id === linkId) {
                        conn = this.sqlConns[i];
                        break;
                    }
                }
                return this.getConnectionStr(conn);
            },
            getConnectionStr: function (conn) {
                if (conn) {
                    return conn.name + '【账号:' + conn.account + '】<br>' + conn.address + ':' + conn.port;
                }
                return '不存在';
            },

            showEditMainDialog: function (row) {
                if (row) {
                    this.editData = row;
                } else {
                    this.editData = {
                        id: '',
                        enabled: true,
                        linkReadId: '',
                        linkWriteId: '',
                        db: '',
                        backDb: '',
                    };
                }
                this.editDialogShow = true;
            },
            hideEditMainDialog: function () {
                this.editDialogShow = false;
            },
            saveData(form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    if (!this.editData.linkWriteId)
                        return alert('请选择写库');
                    if (!this.editData.linkReadId)
                        return alert('请选择读库');
                    if (!this.editData.db)
                        return alert('请设置数据库名');

                    let url = $$BASE_URL + 'dataClean';
                    return axios.post(url, this.editData).then(response => {
                        if (!response || !response.data || response.data.code > 0) {
                            this.$message({
                                message: '操作失败！' + response.data.msg,
                                type: 'error'
                            });
                            return;
                        }
                        this.$message({
                            message: '操作成功！',
                            type: 'success'
                        });
                        this.hideEditMainDialog();
                        this.getDataList();
                    }).catch(error => this.ajaxError(error));
                });
            },
            changeStatus: function (row) {
                let txt = row.enabled ? '停止' : '启用';
                if (!confirm('确认要' + txt + '该记录吗？'))
                    return;

                let url = $$BASE_URL + 'dataClean/status?id=' + row.id + '&status=' + (!row.enabled);
                return axios.post(url).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('操作成功条数:' + response.data);
                        this.getDataList();
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },

            showEditTableDialog: function (row) {
                let isNew = typeof (row) === 'number';
                if (!isNew) {
                    this.editTableData = row;
                } else {
                    this.editTableData = {
                        id: '',
                        title: '',
                        configId: row,  // 新建时，这个必须是主配置id
                        enabled: true,
                        tableName: '',
                        timeField: 'create_date',
                        forceIndexName: '',
                        keyField: 'id',
                        otherCondition: '',
                        keepDays: 90,
                        runHours: '0-23',
                        needBackup: true,
                        partitionNum: 1,
                    };
                }
                this.editTableDialogShow = true;
            },
            hideEditTableDialog: function () {
                this.editTableDialogShow = false;
            },
            changeTableStatus: function (row) {
                let txt = row.enabled ? '停止' : '启用';
                if (!confirm('确认要' + txt + '该表吗？'))
                    return;

                let url = $$BASE_URL + 'dataClean/table/status?id=' + row.id + '&status=' + (!row.enabled);
                return axios.post(url).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('操作成功条数:' + response.data);
                        this.getDataList();
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            saveTableData(form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = $$BASE_URL + 'dataClean/table';
                    return axios.post(url, this.editTableData).then(response => {
                        if (!response || !response.data || response.data.code > 0) {
                            this.$message({
                                message: '操作失败！' + response.data.msg,
                                type: 'error'
                            });
                            return;
                        }
                        this.$message({
                            message: '操作成功！',
                            type: 'success'
                        });
                        this.hideEditTableDialog();
                        this.getDataList();
                    }).catch(error => this.ajaxError(error));
                });
            },
            ajaxError: function (error) {
                window.ajaxError(error, vueApp);
            },
        },
    });
</script>
</body>
</html>