<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作日志</title>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <script src="../static/sql-formatter.min.js"></script>
    <script src="../static/qs.min.js"></script>
    <script src="../static/common.js?v=1"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        <el-form-item label="操作人" prop="loginUser">
            <el-select
                    filterable
                    allow-create
                    default-first-option
                    placeholder="请选择"
                    v-model="searchCond.loginUser">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="(val, key, idx) in condUsers"
                           :label="val" :value="val"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="url" prop="url">
            <el-select
                    filterable
                    allow-create
                    default-first-option
                    placeholder="请选择"
                    v-model="searchCond.url">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="(val, key, idx) in condUrls"
                           :label="val" :value="val"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="查询时间(UTC)">
            <el-date-picker
                    size="mini"
                    v-model="searchDates"
                    @change="changeDate"
                    format="yyyy-MM-dd HH:mm:ss"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>
        <br>
        <el-button @click="getLogs" icon="el-icon-search" type="primary" size="mini">查询</el-button>

        当前登录用户: {{loginuser}}
        <el-button icon="el-icon-refresh" @click="location.reload()" size="mini">刷新</el-button>
        <span style="padding-left:20px;"
              v-show="resultData.length">请求耗时: {{costTime}}ms, 数据条数: {{resultData.length}}</span>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              :data="resultData"
              :header-row-class-name="'tableHeader'">
        <el-table-column align="center" label="序号" type="index" width="80"></el-table-column>
        <el-table-column :label="key"
                         sortable
                         :sort-by="key"
                         v-for="(value, key, index) in resultData[0]"
                         v-if="isShow(key)">
            <template slot-scope="scope">
                <input type="text" :value="scope.row[key]" style="width:100%"
                       @click="showFieldValue(scope.row, key)">
            </template>
        </el-table-column>
    </el-table>


    <el-dialog :title="'详情:' + selectedField + '（按ESC关窗）'" :visible.sync="fieldValueShow">
        <div>
            <el-button type="primary" @click="formatJson">JSON格式化</el-button>
        </div>
        <div>
            <el-input
                    type="textarea"
                    :rows="20"
                    v-model="selectedFieldValue">
            </el-input>
        </div>
    </el-dialog>
</div>
<script>
    const BASE_URL = '/' + location.pathname.split('/')[1] + '/'; // '/ops/';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loginuser: '',
            loading: false,

            condUsers: [],
            condUrls: [],

            searchDates: [],
            searchCond: {
                reportTimeBegin: '',
                reportTimeEnd: '',
                loginUser: '',
                url: '',
                limit: 1000,
            },

            costTime: 0,
            resultData: [],

            fieldValueShow: false,
            selectedField: '',
            selectedFieldValue: '',
        },
        created: function () {
            this.getLoginUser();
            this.getConditions();
            this.getLogs();
        },
        computed: {},
        methods: {
            handleTabClick: function (tab, event) {
            },
            getConditions: function () {
                let url = BASE_URL + 'logs/conditions';
                return axios.get(url).then(response => {
                    if (!response.data || response.data.length < 2)
                        return;
                    this.condUsers = response.data[0];
                    this.condUrls = response.data[1];
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            changeDate: function (val) {
                this.searchCond.reportTimeBegin = val[0];
                this.searchCond.reportTimeEnd = val[1];
            },
            getLoginUser: function () {
                let url = BASE_URL + 'currentuser';
                return axios.get(url).then(response => {
                    this.loginuser = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getLogs: function () {
                let url = BASE_URL + 'logs?' + Qs.stringify(this.searchCond, {arrayFormat: 'repeat'});
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert('出错:\n' + response.data.errMsg);
                    }
                    this.resultData = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            isShow: function (column) {
                if (column === 'id' ||
                    column === 'requestHeaderMap' ||
                    column === 'responseHeaderMap' ||
                    column === 'responseContent')
                    return false;
                return true;
            },

            showFieldValue: function (row, key) {
                let val = row[key];
                if (val === null || val.length === 0)
                    return;
                this.fieldValueShow = true;
                this.selectedField = key;
                this.selectedFieldValue = val;
            },
            formatJson: function () {
                try {
                    this.selectedFieldValue = JSON.stringify(JSON.parse(this.selectedFieldValue), null, 4);
                } catch (e) {
                    alert('错误:' + e);
                }
            },

            ajaxError: function (error) {
                window.ajaxError(error, vueApp);
            },
        },
    });
</script>
</body>
</html>