<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTPCode操作页</title>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <script src="../static/common.js"></script>
    <script src="../static/jsQR.js"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }

        .item-body {
            flex-direction: column;
            height: 60px;
        }

        .title {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        .notice {
            font-size: 12px;
            color: #888;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        当前登录用户: <span style="color: red; font-weight: bold">{{loginuser}}</span> |
        生成code数:<input type="text" v-model="codeNum" style="width: 30px"/>
        <el-button icon="el-icon-refresh" @click="location.reload()">刷新</el-button>
        <span style="padding-left:20px;"
              v-show="resultData.length">请求耗时: {{costTime}}ms, 已存密钥数: {{resultData.length}}</span>
        <el-button type="primary" icon="el-icon-save" @click="savedSecureShow=true">添加密钥</el-button>
    </el-form>
    <br>
    <el-tabs :tab-position="'left'">
        <el-tab-pane label="九宫格">
            <div>
                <div style="float: left; border: black solid 1px; width: 300px; height: 180px; padding: 1px 5px 1px 5px; margin: 8px 8px 8px 8px;"
                     v-for="(val,key,idx) in resultData">
                    <div>
                        <el-link type="primary" @click="getItemSecure(val)">刷新</el-link>
                        <el-link type="warning" @click="showQRCode(val)">导出</el-link>
                        <el-link type="danger" @click="deleteSecure(val)">删除</el-link>
                    </div>
                    <div class="item-body">
                        <div class="title">
                            <a v-if="val['url']" :href="val['url']" target="_blank">{{val.title}}</a>
                            <span v-if="!val['url']">{{val.title}}</span>
                        </div>
                        <div class="notice">{{val.memo}}</div>
                    </div>
                    <div v-for="(code, ts, index) in val['code']">{{getStrFromTimestamp(ts)}}:
                        <span style="font-weight: bold;color: crimson">{{code}}</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="Table展示">
            <el-table v-loading="loading"
                      element-loading-text="拼命加载中"
                      element-loading-spinner="el-icon-loading"
                      element-loading-background="rgba(0, 0, 0, 0.8)"
                      border
                      height="1200"
                      :data="resultData"
                      :header-row-class-name="'tableHeader'">
                <el-table-column align="center" label="序号" type="index" width="80"></el-table-column>
                <el-table-column label="归属" sortable property="username" width="120"></el-table-column>
                <el-table-column label="网址"
                                 sortable
                                 sort-by="url">
                    <template slot-scope="scope" width="200">
                        <a :href="scope.row['url']" target="_blank">{{scope.row['url']}}</a>
                    </template>
                </el-table-column>
                <el-table-column label="说明" sortable property="title" width="150"></el-table-column>
                <el-table-column label="时间戳: Code" width="360">
                    <template slot-scope="scope">
                        <div v-for="(value, key, index) in scope.row['code']">{{key}}({{getStrFromTimestamp(key)}}):
                            <span style="font-weight: bold;color: crimson">{{value}}</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="备注" sortable property="memo" width="200"></el-table-column>
                <el-table-column label="入库" sortable property="createTime" width="100"></el-table-column>
                <el-table-column label="操作" width="120">
                    <template slot-scope="scope">
                        <el-link type="primary" @click="getItemSecure(scope.row)">刷新</el-link>

                        <el-link type="warning" @click="showQRCode(scope.row)">导出</el-link>
                        <el-link type="danger" @click="deleteSecure(scope.row)">删除</el-link>
                    </template>
                </el-table-column>
            </el-table>
        </el-tab-pane>
    </el-tabs>

    <el-dialog title="保存OtpCode密钥" :visible.sync="savedSecureShow" :close-on-press-escape="true"
               :close-on-click-modal="false">
        <div>
            <el-form>
                <el-form-item label="说明">
                    <el-input v-model="saveData.title" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="密钥">
                    <br>
                    <div>
                        <div style="float: left;width: 400px">
                            <el-input v-model="saveData.secure" placeholder="请输入"></el-input>
                        </div>
                        <div style="float: left; cursor: pointer; color: blue;">
                            <label for="files" style="cursor: pointer;">识别二维码图片</label>
                            <input id="files" style="visibility:hidden;" type="file" accept="image/*"
                                   @change="imgSelected"/>
                        </div>
                        <div style="float: left;">
                            <span>{{foundedData}}</span>
                            <!--img id="imgQrcode"/-->
                            <canvas id="canvas" style="width:200px;"></canvas>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </el-form-item>
                <el-form-item label="对应网址">
                    <el-input v-model="saveData.url" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="saveData.memo" placeholder="请输入"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button type="primary" @click="saveMySecure">保存OTPCode信息</el-button>
        </div>
    </el-dialog>

    <el-dialog title="导出" :visible.sync="qrCodeShow" :close-on-press-escape="true"
               :close-on-click-modal="false" :show-close="true">
        <div style="text-align: left;">
            请用手机上的Google身份验证器，扫码绑定:
            <img :src="qrCodeUrl"/>
        </div>
    </el-dialog>
</div>
<script>
    const BASE_URL = '/' + location.pathname.split('/')[1] + '/'; // '/ops/';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loginuser: '',
            loading: false,

            codeNum: 3,
            savedSecureShow: false,
            saveData: {
                title: '',
                secure: '',
                url: '',
                memo: '',
            },

            costTime: 0,
            resultData: [],

            qrCodeShow: false,// 是否显示dialog对话框
            qrCodeUrl: '',

            foundedData: ''
        },
        created: function () {
            this.getLoginUser()
                .then(this.getMySecure);
        },
        computed: {},
        methods: {
            handleTabClick: function (tab, event) {
            },
            getLoginUser: function () {
                let url = BASE_URL + 'currentuser';
                return axios.get(url).then(response => {
                    this.loginuser = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getMySecure: function () {
                let url = BASE_URL + 'otpcode/list?codeNum=' + this.codeNum;
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert('出错:\n' + response.data.errMsg);
                    }
                    this.resultData = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getItemSecure: function (row) {
                let url = BASE_URL + 'otpcode/list/' + row.id + '?codeNum=' + this.codeNum;
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert('出错:\n' + response.data.errMsg);
                    }
                    row.code = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            // 选择图片后，进行预览 和 识别
            imgSelected: function (evt) {
                const file = evt.target.files[0];

                // 给img标签添加图片预览的代码
                // const reader = new FileReader();
                // reader.onload = (e) => {
                //     let dataUrl = e.target.result;
                //     document.getElementById('imgQrcode').src = dataUrl;
                // };
                // reader.readAsDataURL(file);

                const canvas = document.getElementById("canvas"); // 获取canvas
                const URL = window.URL || window.webkitURL; // 兼容
                const url = URL.createObjectURL(file);   // 获取文件的临时路径(antd upload组件上传的对象为{originFileObj:File},对象中的originFileObj才是file对象)
                const img = new Image();  // 创建图片对象
                let _vue = this;
                img.onload = function () {
                    // 根据图片大小设置canvas大小
                    canvas.width = img.width;
                    canvas.height = img.height;
                    // 释放对象URL所占用的内存
                    URL.revokeObjectURL(img.src);
                    // 获取canvas
                    const context = (canvas).getContext('2d', {willReadFrequently: true});
                    // canvas绘制图片
                    context.drawImage(this, 0, 0, img.width, img.height);
                    // 通过canvas获取imageData
                    const imageData = context.getImageData(0, 0, img.width, img.height);
                    // jsQR识别
                    const code = jsQR(imageData.data, imageData.width, imageData.height);
                    _vue.foundedData = JSON.stringify(code);
                    console.log("Found QR code", _vue.foundedData);
                    _vue.parseSecretFromCode(code);
                };
                img.src = url;  // 给img标签设置src属性
            },
            parseSecretFromCode: function (code) {
                this.saveData.secure = '无法识别';
                if (!code || !code.data)
                    return;
                // "otpauth://totp/AmazonWebServices:mfa-abc?secret=abc&issuer=AmazonWebServices"
                let start = 'secret=';
                let idx = code.data.indexOf(start);
                if (idx < 0)
                    return;
                let ret = code.data.substring(idx + start.length);
                idx = ret.indexOf('&');
                if (idx > 0)
                    ret = ret.substring(0, idx);
                this.saveData.secure = ret;
            },
            saveMySecure: function () {
                let url = BASE_URL + 'otpcode';
                return axios.post(url, this.saveData).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('保存成功条数:' + response.data);
                        this.getMySecure();
                        this.savedSecureShow = false;
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            deleteSecure: function (row) {
                if (!confirm('确认删除吗？注：无法恢复'))
                    return;

                let url = BASE_URL + 'otpcode?id=' + row.id;
                return axios.delete(url).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('删除条数:' + response.data);
                        this.getMySecure();
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            showQRCode: function (row) {
                // 使用后端画图，减少网络传输数据泄露概率（实际上图片就已经泄露了 ^_^
                this.getQRCodeImg(row.id);
                this.qrCodeShow = true;
            },
            getQRCodeImg: function (rowId) {
                this.qrCodeUrl = BASE_URL + 'otpcode/export?id=' + rowId;
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }


    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>