<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTPCode操作页</title>
    <script src="../static/unpkg/vue.min.js"></script>
    <script src="../static/unpkg/axios.min.js"></script>
    <script src="../static/unpkg/elemeIndex.js"></script>
    <script src="../static/common.js"></script>
    <link rel="stylesheet" href="../static/unpkg/elemeIndex.css">
    <style>
        .el-select-dropdown__wrap {
            max-height: 500px;
        }

        .el-table_1_column_1 {
            font-weight: bold;
        }

        .tableHeader {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div id="divApp">
    <el-form ref="searchForm" :inline="true" class="demo-form-inline"
             style="text-align: left">
        当前登录用户: {{loginuser}}
        <el-button type="primary" icon="el-icon-save" @click="savedSecureShow=true">添加密钥</el-button>
        <el-button icon="el-icon-refresh" @click="location.reload()">刷新</el-button>
        <span style="padding-left:20px;"
              v-show="resultData.length">请求耗时: {{costTime}}ms, 已存密钥数: {{resultData.length}}</span>
    </el-form>
    <br>

    <el-table v-loading="loading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              border
              height="1200"
              :data="resultData"
              :header-row-class-name="'tableHeader'">
        <el-table-column align="center" label="序号" type="index" width="80"></el-table-column>
        <el-table-column label="归属用户" sortable property="username" width="120"></el-table-column>
        <el-table-column label="网址"
                         sortable
                         sort-by="url">
            <template slot-scope="scope" width="200">
                <a :href="scope.row['url']" target="_blank">{{scope.row['url']}}</a>
            </template>
        </el-table-column>
        <el-table-column label="说明" sortable property="title" width="120"></el-table-column>
        <el-table-column label="时间戳: Code" width="360">
            <template slot-scope="scope">
                <div v-for="(value, key, index) in scope.row['code']">{{key}}({{getStrFromTimestamp(key)}}):
                    <span style="font-weight: bold;color: crimson">{{value}}</span>
                </div>
            </template>
        </el-table-column>
        <el-table-column label="备注" sortable property="memo" width="200"></el-table-column>
        <el-table-column label="入库时间" sortable property="createTime" width="110"></el-table-column>
        <el-table-column label="操作" width="200">
            <template slot-scope="scope">
                <el-button type="primary" @click="showQRCode(scope.row)">导出</el-button>
                <el-button @click="deleteSecure(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="保存OtpCode密钥" :visible.sync="savedSecureShow" :close-on-press-escape="true"
               :close-on-click-modal="false">
        <div>
            <el-form>
                <el-form-item label="说明">
                    <el-input v-model="saveData.title" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="密钥">
                    <el-input v-model="saveData.secure" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="对应网址">
                    <el-input v-model="saveData.url" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="saveData.memo" placeholder="请输入"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button type="primary" @click="saveMySecure">保存OTPCode信息</el-button>
        </div>
    </el-dialog>

    <el-dialog title="导出" :visible.sync="qrCodeShow" :close-on-press-escape="true"
               :close-on-click-modal="false" :show-close="true">
        <div style="text-align: left;">
            请用手机上的Google身份验证器，扫码绑定:
            <img :src="qrCodeUrl"/>
        </div>
    </el-dialog>
</div>
<script>
    const BASE_URL = '/' + location.pathname.split('/')[1] + '/'; // '/ops/';
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            loginuser: '',
            loading: false,

            savedSecureShow: false,
            saveData: {
                title: '',
                secure: '',
                url: '',
                memo: '',
            },

            costTime: 0,
            resultData: [],

            qrCodeShow: false,// 是否显示dialog对话框
            qrCodeUrl: "",
        },
        created: function () {
            this.getLoginUser()
                .then(this.getMySecure);
        },
        computed: {},
        methods: {
            handleTabClick: function (tab, event) {
            },
            getLoginUser: function () {
                let url = BASE_URL + 'currentuser';
                return axios.get(url).then(response => {
                    this.loginuser = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            getMySecure: function () {
                let url = BASE_URL + 'otpcode/list';
                return axios.get(url).then(response => {
                    if (response.data.code && response.data.code === 500) {
                        return alert('出错:\n' + response.data.errMsg);
                    }
                    this.resultData = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            saveMySecure: function () {
                let url = BASE_URL + 'otpcode';
                return axios.post(url, this.saveData).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('保存成功条数:' + response.data);
                        this.getMySecure();
                        this.savedSecureShow = false;
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            deleteSecure: function (row) {
                if (!confirm('确认删除吗？注：无法恢复'))
                    return;

                let url = BASE_URL + 'otpcode?id=' + row.id;
                return axios.delete(url).then(response => {
                    if (typeof (response.data) === 'number') {
                        alert('删除条数:' + response.data);
                        this.getMySecure();
                        return;
                    }
                    alert(response.data.errMsg);
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            showQRCode: function (row) {
                // 使用后端画图，减少网络传输数据泄露概率（实际上图片就已经泄露了 ^_^
                this.getQRCodeImg(row.id);
                this.qrCodeShow = true;
            },
            getQRCodeImg: function (rowId) {
                this.qrCodeUrl = BASE_URL + 'otpcode/export?id=' + rowId;
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 判断对象有属性
     * @param obj 对象
     * @returns {boolean} 有或没有
     */
    function hasAnyProperty(obj) {
        if (!obj)
            return false;
        for (let prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                return true;
            }
        }
        return false;
    }


    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string}
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>