package {{package_name}}.dto;

import lombok.Data;
import lombok.experimental.Accessors;
import org.springframework.format.annotation.DateTimeFormat;

{{jdk_content}}

/**
 *
 * @author youbl.blog.csdn.net
 * @since {{date_time}}
 */
@Data
@Accessors(chain = true)
public class {{entity_name}}Dto {
    {{dto_fields}}
}