package {{package_name}}.dao.entity;

import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;

{{jdk_content}}

/**
 *
 * @author youbl.blog.csdn.net
 * @since {{date_time}}
 */
@Data
@Accessors(chain = true)
@TableName("{{table_name}}")
public class {{entity_name}} implements Serializable {
{{entity_fields}}
}